<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title th:text="${resource.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <!-- CoreUI CSS -->
    <link rel="stylesheet" th:href="@{/lib/coreui/coreui.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/coreui/free.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/checkbox-css/checkbox.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/wcag/wcag.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/delos/search.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/delos/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/all.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/player/player.css}"/>
    <style>
        .demo-wrap {
            position: relative;
        }
        .demo-wrap:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: -20px;
            width: 100%;
            height: 100%;
            opacity: 0.15;
            background-image: url('public/images/site-bg-wo.jpg');
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: cover;
        }
        .demo-content {
            position: relative;
        }
        @media (max-width: 768px) {
            .hide-md {
                display: none;
            }
        }
        @media (min-width: 768px) {
            .hide-lg {
                display: none;
            }
        }
    </style>
</head>
<body class="c-app demo-wrap" style="background-color: white">
<!--@thymesVar id="resource" type="org.opendelos.model.resources.Resource"-->
<input type="hidden" id="showIntro"    th:value="${resource.playerOptions.showLicenseIntro}"/>
<input type="hidden" id="video_url"    th:value="${video_url}" size="100"/>
<input type="hidden" id="intro_url"    th:value="${ccLicense.intro_url}" size="100"/>
<input type="hidden" id="hasSlides"    th:value="${hasSlides}"/>
<input type="hidden" id="slidesSynced" th:value="${slidesSynced}"/>
<input type="hidden" id="duration"     th:value="${resource.resourceAccess.duration}"/>
<input type="hidden" id="showOverlay"  th:value="${resource.playerOptions.overlay}"/>
<input type="hidden" id="resourceId"   th:value="${resource.id}"/>

<div class="c-wrapper">
    <div th:replace="~{elements/a-topnav :: a-topnav}"></div>
    <div class="c-body">
        <main class="c-main pt-1">
            <div class="container-fluid px-0" style="margin-top: 50px">
                <div class="container-fluid px-0" style="height:164px; background-image: url('./public/images/nea_anakoinoseis_02.png')"></div>
                <div th:replace="~{elements/a1-topnav :: a-topnav}"></div>
                <!-- SEARCH BAR -->
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-lg-1 col-lg-10 col-md-12">
                            <th:block th:if="${hasSlides}">
                                <!-- HEADER -->
                                <div class="row">
                                    <div class="colp-1"></div>
                                    <div class="colp-6 py-1">
                                        <h4 class="blue-link-wcag-color" >
                                            <span th:if="${#strings.substringBefore(resource.title,'(') != null}" th:text="${#strings.substringBefore(resource.title,'(')}"></span>
                                            <span th:unless="${#strings.substringBefore(resource.title,'(') != null}" th:text="${resource.title}"></span>
                                            <span th:if="${resource.partNumber != 0 && resource.partNumber != '0'}" th:text="${' / Μέρος ' + resource.partNumber}"></span>
                                        </h4>
                                        <h6>
                                            <th:block th:if="${resource.course != null}">
                                                <div class="mb-2">
                                                    <strong>Μάθημα:</strong> <span th:text="${resource.course.title + ' - '}"></span>
                                                    <strong>Τμήμα </strong> <span th:text="${resource.course.department.title}"></span>
                                                </div>
                                                <div><strong>Καθηγητής:</strong> <span th:text="${resource.supervisor.name + ', ' + resource.supervisor.affiliation}"></span></div>
                                            </th:block>
                                            <th:block th:if="${resource.getEvent != null}">
                                                <div class="mb-2"><strong>Εκδήλωση:</strong> <span th:text="${resource.getEvent.title}"></span></div>
                                            </th:block>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="colp-1 colp-s-12"></div>
                                    <div class="colp-6 colp-s-12" id="left-box">
                                        <div style="width: 100%;margin: 0 auto">
                                            <div th:replace="~{fragments/player/u-presentation :: u-presentation}">Παρουσίαση</div>
                                        </div>
                                    </div>
                                    <div class="colp-1 colp-s-12 px-0">
                                        <span class="justify-content-center">
                                               <button id="layout_button" title="Αλλαγή διάταξης" class="btn btn-light btn-sm form-control" style="color: black;width: 50%;margin: 0 auto">
                                                        <i class="fas fa-exchange-alt"></i>
                                               </button>
                                        </span>
                                    </div>
                                    <div class="colp-3 colp-s-12" style="border-left: #006A9B 2px solid" id="right-box">
                                        <div class="aside" id="video_wrapper">
                                            <div th:replace="~{fragments/player/u-videoplayer :: u-videoplayer}">Video Player</div>
                                            <div id="overlay_1" style="visibility:hidden" th:if="${resource.course != null}" th:text="${resource.supervisor.name}"></div>
                                        </div>
<!--                                        <th:block th:if="${resource.parts && related_parts.size > 1}">-->
                                        <th:block th:if="${related_parts.size > 1}">
                                            <div class="mt-3">
                                                    <b>Από την ίδια <span th:if="${resource.type == 'COURSE'}" th:text="Διάλεξη"></span>
                                                        <span th:if="${resource.type == 'EVENT'}" th:text="Δράση"></span>
                                                    </b>
                                                    <p class="mt-2">
                                                    <div th:each="item,iStat: ${related_parts}">
                                                            <th:block th:unless="${item.id == resource.id}">
                                                                <div class="my-2 py-2 pl-1">
                                                                    <a style="color: #006A9B !important;font-weight: bolder" th:href="${'player?id=' + item.id}" title="αναπαραγωγή">
                                                                        <span th:text="${(iStat.index+1) + '. ' + item.title}"></span>
                                                                        <span th:if="${item.partNumber != 0 && item.partNumber != '0'}" th:text="${' / Μέρος ' + item.partNumber}"></span>
                                                                    </a>
                                                                    <div class="pl-3 pt-1">
                                                                        Αίθουσα/Χώρος:
                                                                        <span class="mr-2 font-weight-bolder" th:if="${item.classroomName != null}" th:text="${item.classroomName}"></span>
                                                                    </div>
                                                                    <div class="pl-3 pt-1">
                                                                        Ημερομηνία Εγγραφής:
                                                                        <span th:replace="fragments/format-resource-date.html:: formatDate(field=${resource.date})"></span>
                                                                        <span th:replace="fragments/format-resource-date.html:: formatDateTime(field=${resource.date})"></span>
                                                                    </div>
                                                                </div>
                                                            </th:block>
                                                            <th:block th:if="${item.id == resource.id}">
                                                                <div class="blue-btn-wcag-bgnd-color text-white my-2 py-2 pl-1">
                                                                    <span class="font-weight-bolder" th:text="${(iStat.index+1) + '. ' + item.title}"></span>
                                                                    <span th:if="${item.partNumber != 0 && item.partNumber != '0'}" th:text="${' / Μέρος ' + item.partNumber}"></span>
                                                                    <div class="pl-3 pt-1">
                                                                        Αίθουσα/Χώρος:
                                                                        <span class="mr-2" style="font-weight: 600" th:if="${item.classroomName != null}" th:text="${item.classroomName}"></span>
                                                                    </div>
                                                                    <div class="pl-3 pt-1">
                                                                        Ημερομηνία Εγγραφής:
                                                                        <span th:replace="fragments/format-resource-date.html:: formatDate(field=${resource.date})"></span>
                                                                        <span th:replace="fragments/format-resource-date.html:: formatDateTime(field=${resource.date})"></span>
                                                                    </div>
                                                                </div>
                                                            </th:block>
                                                    </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:unless="${hasSlides}">
                                    <!-- HEADER -->
                                    <div class="row">
                                            <div class="colp-2"></div>
                                            <div class="colp-6">
                                                <h4 class="blue-link-wcag-color" >
                                                    <span th:if="${#strings.substringBefore(resource.title,'(') != null}" th:text="${#strings.substringBefore(resource.title,'(')}"></span>
                                                    <span th:unless="${#strings.substringBefore(resource.title,'(') != null}" th:text="${resource.title}"></span>
                                                    <span th:if="${resource.partNumber != 0 && resource.partNumber != '0'}" th:text="${' / Μέρος ' + resource.partNumber}"></span>
                                                </h4>
                                                <h6>
                                                    <th:block th:if="${resource.course != null}">
                                                        <div class="mb-2">
                                                            <strong>Μάθημα:</strong> <span th:text="${resource.course.title + ' - '}"></span>
                                                            <strong>Τμήμα </strong> <span th:text="${resource.course.department.title}"></span>
                                                        </div>
                                                        <div><strong>Καθηγητής:</strong> <span th:text="${resource.supervisor.name + ', ' + resource.supervisor.affiliation}"></span></div>
                                                    </th:block>
                                                    <th:block th:if="${resource.getEvent != null}">
                                                        <div class="mb-2"><strong>Εκδήλωση:</strong> <span th:text="${resource.getEvent.title}"></span></div>
                                                    </th:block>
                                                </h6>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="colp-2 my-0 py-0"></div>
                                        <div class="colp-6">
                                            <div id="video_wrapper_1" style="width: 100%;margin: 0 auto" >
                                                <div th:replace="~{fragments/player/u-videoplayer :: u-videoplayer}">Video Player</div>
                                                <div id="overlay_2" style="visibility:hidden" th:if="${resource.course != null}" th:text="${resource.supervisor.name}"></div>
                                            </div>
                                        </div>
<!--                                            <th:block th:if="${resource.parts && related_parts.size > 1}">-->
                                            <th:block th:if="${related_parts.size > 1}">
                                                <div class="colp-4 mt-2" style="border-left: #006A9B 2px solid">
                                                <b>Από την ίδια <span th:if="${resource.type == 'COURSE'}" th:text="Διάλεξη"></span>
                                                    <span th:if="${resource.type == 'EVENT'}" th:text="Δράση"></span>
                                                </b>
                                                <p class="mt-2">
                                                <div th:each="item,iStat: ${related_parts}">
                                                    <th:block th:unless="${item.id == resource.id}">
                                                        <div class="my-2 py-2 pl-1">
                                                            <a style="color: #006A9B !important;font-weight: 500" th:href="${'player?id=' + item.id}" title="αναπαραγωγή">
                                                                <span th:text="${(iStat.index+1) + '. ' + item.title}"></span>
                                                                <span th:if="${item.partNumber != 0 && item.partNumber != '0'}" th:text="${' / Μέρος ' + item.partNumber}"></span>
                                                            </a>
                                                            <div class="pl-3 pt-1">
                                                                Αίθουσα/Χώρος:
                                                                <span class="mr-2 font-weight-bolder" th:if="${item.classroomName != null}" th:text="${item.classroomName}"></span>
                                                            </div>
                                                            <div class="pl-3 pt-1">
                                                                Ημερομηνία Εγγραφής:
                                                                <span th:replace="fragments/format-resource-date.html:: formatDate(field=${resource.date})"></span>
                                                                <span th:replace="fragments/format-resource-date.html:: formatDateTime(field=${resource.date})"></span>
                                                            </div>
                                                        </div>
                                                    </th:block>
                                                    <th:block th:if="${item.id == resource.id}">
                                                        <div class="blue-btn-wcag-bgnd-color text-white my-2 py-2 pl-1">
                                                            <span th:text="${(iStat.index+1) + '. ' + item.title}"></span>
                                                            <span th:if="${item.partNumber != 0 && item.partNumber != '0'}" th:text="${' / Μέρος ' + item.partNumber}"></span>
                                                            <div class="pl-3 pt-1">
                                                                Αίθουσα/Χώρος:
                                                                <span class="mr-2 font-weight-bolder" th:if="${item.classroomName != null}" th:text="${item.classroomName}"></span>
                                                            </div>
                                                            <div class="pl-3 pt-1">
                                                                Ημερομηνία Εγγραφής:
                                                                <span th:replace="fragments/format-resource-date.html:: formatDate(field=${resource.date})"></span>
                                                                <span th:replace="fragments/format-resource-date.html:: formatDateTime(field=${resource.date})"></span>
                                                            </div>
                                                        </div>
                                                    </th:block>
                                                </div>
                                                </div>
                                            </th:block>

                                    </div>
                            </th:block>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div th:replace="~{fragments/footer :: footer}">Footer</div>
</div>
<div th:replace="~{modals/about-modal :: #about_modal}"></div>
<div th:replace="~{modals/terms-modal :: #terms_modal}"></div>
<div th:replace="~{modals/faq-modal :: #faq_modal}"></div>
<div th:replace="~{modals/contact-modal :: #contact_modal}"></div>
<div th:replace="~{modals/logout_modal :: #logout_modal}"></div>
<!-- Optional JavaScript -->
<script th:src="@{/css/jquery-3.5.1/jquery-3.5.1.js}" type="application/javascript"></script>
<script th:src="@{/lib/coreui/coreui.bundle.min.js}"></script>
<script th:src="@{/lib/coreui/coreui-utilities.min.js}"></script>

<script th:src="@{/css/bootstrap-switch/bootstrap-switch.min.js}" type="application/javascript"></script>

<!-- locale -->
<script th:src="@{/js/scripts/i18n/locale.js}"></script>

<script th:src="@{/js/player/dashboard.js}" type="application/javascript"></script>
<script th:src="@{/js/player/dashboard.player.js}" type="application/javascript"></script>

<script th:src="@{/css/moment/moment.min.js}" type="text/javascript" ></script>
<script th:src="@{/css/moment/en-gb.js}" type="text/javascript" ></script>
<script th:src="@{/css/moment/el.js}" type="text/javascript" ></script>
<script th:src="@{/js/texts/text-utils.js}"></script>
</body>
</html>