<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>OpenDelos Live</title>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <!-- CoreUI CSS -->
    <link rel="stylesheet" th:href="@{/lib/coreui/coreui.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/coreui/free.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/wcag/wcag.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-css/delos.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/delos/search.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/delos/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/all.min.css}"/>
    <!-- classic theme datatable with various plugins -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/datatables-classic/datatables.min.css}"/>
    <!-- bootstrap-toggle -->
    <link th:href="@{/lib/bootstrap4-toggle/bootstrap4-toggle.min.css}" rel="stylesheet">
    <!-- select2 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2/css/select2.min.css}"/>
    <!-- alertify -->
    <link rel="stylesheet" th:href="@{/lib/alertify/css/alertify.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/alertify/css/themes/bootstrap.min.css}"/>
    <!-- daterangepicker -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/daterangepicker/daterangepicker.css}"/>
</head>
<body class="c-app">
<input type="hidden" id="institutionIdentity" th:value="${institution_identity}"/>
<input type="hidden" id="institutionTitle" th:value="#{default.institution.title}"/>
<input type="hidden" id="editor_id" th:value="${user.id}"/>
<input type="hidden" id="editor_name" th:value="${user.name}"/>
<input type="hidden" id="isStaffMember" th:value="${user_isStaffMember}"/>
<input type="hidden" id="isManager" th:value="${user_isManager}"/>
<input type="hidden" id="user_access" th:value="${user_access}"/>

<input type="hidden" id="upload_base_path" value="/delosrc/resources/ml/"/> <!-- TODO  :: PUT TO MODEL -->

<div th:replace="~{admin/fragments/a-sidebar-content :: a-sidebar}"></div>
<div class="c-wrapper">
    <header class="c-header-fixed c-header pl-2">
        <ul class="c-header-nav d-md-down-none">
            <li class="c-header-nav-item px-3">
                <strong class="h5"><i class="far fa-calendar-alt fa-lg"></i> Κατάλογος Εκδηλώσεων <span class="text-muted font-weight-normal"> | Περιεχόμενο</span></strong>
            </li>
        </ul>
        <ul class="c-header-nav ml-auto mr-4">
            <li class="c-header-nav-item dropdown">
                <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-user-circle fa-2x mr-1"></i><span th:text="${user.name}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right pt-0">
                    <div class="dropdown-header bg-light py-2"><strong>Λογαριασμός</strong></div>
                    <a class="dropdown-item" th:href="@{/admin/user_profile}">
                        <span class="fas fa-user mr-1"></span> Ρυθμίσεις
                    </a>
                    <div class="dropdown-divider"></div>
                    <a sec:authorize="isAuthenticated()" class="dropdown-item" href="#" title="logout" data-toggle="modal" data-target="#logout_modal" >
                        <i class="fas fa-sign-out-alt mr-1"></i> Αποσύνδεση
                    </a>
                    <a sec:authorize="isAnonymous()" class="dropdown-item" th:href="@{/admin}">
                        <i class="fas fa-sign-in-alt mr-1"></i> Σύνδεση
                    </a>
                </div>
            </li>
        </ul>
        <div class="c-subheader">
            <a role="button" th:href="@{/admin/sevent-editor}" class="btn btn-sm blue-btn-wcag-bgnd-color my-2 ml-3" style="color: white;font-size: 0.9em"><i class="fas fa-plus"></i> προσθήκη εκδήλωσης</a>
        </div>
    </header>
    <div class="c-body" style="background-color: white">
        <main class="c-main pt-3">
            <div class="container-fluid px-4">
                        <!-- Results -->
                        <div class="card" id="sevents_card">
                                    <div class="card-body pb-0 px-0 pt-2">
                                        <div class="d-flex justify-content-between pb-2" style="border-bottom: #efefef 2px solid">
                                            <div class="text-muted"><span id="count_results"></span></div>
                                        </div>
                                        <div class="table-responsive" style="margin-top: 40px">
                                            <table id="seventsDataTable" style="width:100%" class="table-hover row-border ">
                                                <thead>
                                                <tr style="background-color: #efefef">
                                                    <td style="width: 15px" title="Ενεργό/Ανενεργό Ημερολόγιο"><i class="fas fa-plug"></i></td>
                                                    <td class="nowrap">Ημερομηνία Έναρξης (έως Λήξης)</td>
                                                    <td style="width: 45%">Τίτλος</td>
                                                    <td></td>
                                                    <td>Διοργανωτές</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="width: 15px" title="Επεξεργασία"><i class="fas fa-user-shield"></i></td>
                                                    <td></td>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                        </div>

            </div>
        </main>
    </div>
    <footer class="c-footer">
        <i class="far fa-copyright mr-1"></i> <span th:text="#{default.institution.title}"></span>
    </footer>
</div>

<div th:replace="~{admin/content/scheduled_events/modals/rperson_select_modal :: rperson_select_modal}"></div>
<div th:replace="~{admin/content/scheduled_events/modals/runit_select_modal :: runit_select_modal}"></div>
<div th:replace="~{admin/content/scheduled_events/modals/show_image_modal :: show_image_modal}"></div>
<div th:replace="~{modals/logout_modal :: #logout_modal}"></div>

<!-- Optional JavaScript -->

<script th:src="@{/js/i18n/el.js}" type="application/javascript"></script>
<script th:src="@{/css/jquery-3.5.1/jquery-3.5.1.js}" type="application/javascript"></script>
<script th:src="@{/lib/coreui/coreui.bundle.min.js}"></script>
<script th:src="@{/lib/coreui/coreui-utilities.min.js}"></script>

<!-- plupload -->
<script type="text/javascript" th:src="@{/lib/plupload-2.3.6/js/plupload.full.min.js}"></script>
<!-- holder -->
<script type="text/javascript" th:src="@{/js/holder/holder.js}"></script>
<!-- bootstrap-toggle -->
<script th:src="@{/lib/bootstrap4-toggle/bootstrap4-toggle.min.js}"></script>
<!-- DataTables -->
<script th:src="@{/lib/datatables-classic/datatables.min.js}" type="application/javascript"></script>
<script th:src="@{/lib/datatables-classic/row().show().js}" type="application/javascript"></script>
<!-- Select2 -->
<script th:src="@{/css/select2/js/select2.js}" type="application/javascript"></script>
<!-- alertify -->
<script th:src="@{/lib/alertify/alertify.min.js}"></script>

<script th:src="@{/js/admin/content/sevents/dashboard.js}" type="application/javascript"></script>
<script th:src="@{/js/admin/content/sevents/dashboard.sevents.js}" type="application/javascript"></script>

<script th:src="@{/js/search/el.js}" type="application/javascript"></script>
<script th:src="@{/css/moment/moment.min.js}" type="text/javascript" ></script>
<script th:src="@{/css/moment/en-gb.js}" type="text/javascript" ></script>
<script th:src="@{/css/moment/el.js}" type="text/javascript" ></script>

<!-- daterangepicker Note: Always after moment.js-->
<script type="text/javascript" th:src="@{/lib/daterangepicker/daterangepicker.min.js}"></script>
</body>
</html>