<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="about_modal">
    <div class="modal fade " id="about_modal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true" style="max-height: 800px">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header pb-1">
                    <div style="font-size: 1.2em; font-weight: 500" class="modal-title" id="modalTitle"> <i class="fas fa-info-circle"></i> Σχετικά</div>
                    <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-1">
                    <div class="container-fluid mt-2">
                        <p>Η υπηρεσία* "ΕΚΠΑ Διαλέξεις απευθύνεται τόσο στους ίδιους τους δημιουργούς περιεχομένου, δηλαδή στο διδακτικό και ερευνητικό προσωπικό του ιδρύματος, παρέχοντας δυνατότητα ανάρτησης και διαχείρισης περιεχομένου όσο και σε οποιονδήποτε χρήστη του Διαδικτύου ως αποδέκτη του, παρέχοντας δυνατότητα αναζήτησης.
                        </p>
                        <p>
                            Πρόκειται για περιεχόμενο καταγεγραμμένο είτε από την εκπαιδευτική διαδικασία είτε από εκδηλώσεις του ιδρύματος (συνέδρια, ημερίδες, σεμινάρια κ.α.). Επίσης, διατίθενται ζωντανές μεταδόσεις μαθημάτων και διαλέξεων από τους χώρους διδασκαλίας, αλλά και εκδηλώσεων του ιδρύματος. Οι χρήστες έχουν πρόσβαση στο εν λόγω εκπαιδευτικό περιεχόμενο μέσω της δυνατότητας αναζήτησης ή πλοηγούμενοι ελεύθερα.
                        </p>
                        <p>
                            Ταυτόχρονα, το εκπαιδευτικό και ερευνητικό προσωπικό του ιδρύματος διαθέτει μια κατάλληλη υπηρεσία, προκειμένου να αναρτά πολυμορφικό υλικό, το οποίο μπορεί είτε να αποτελεί μέρος των Ανοικτών Μαθημάτων είτε να είναι ανεξάρτητο από αυτά, με ανοικτή, ελεγχόμενη ή κλειστή πρόσβαση, κατά την κρίση του δημιουργού. Για να αιτηθείτε προγραμματισμό ζωντανής μετάδοσης ή δυνατότητα ανάρτησης περιεχομένου, παρακαλώ επικοινωνήστε μαζί μας στην ηλεκτρονική διεύθυνση που αναφέρεται στην "Επικοινωνία".
                        </p>
                        <p>
                            Για την αυτόματη ζωντανή μετάδοση ή/και καταγραφή αξιοποιούνται διαδικτυακές κάμερες** που είναι εγκατεστημένες σε χώρους διδασκαλίας και εκδηλώσεων. Μπορείτε να δείτε τον κατάλογο των εξοπλισμένων χώρων <a href="https://www.noc.uoa.gr/thlekpaideysh-polymesa/katalogos-xorwn-me-diadiktyakes-kameres.html" target="_blank">εδώ</a>.
                        </p>
                        <p>
                            Οι καταγραφές των διαλέξεων διατηρούνται για μεγάλο χρονικό διάστημα.
                            Την υπηρεσία και τον εξοπλισμό διαχειρίζεται εξειδικευμένο προσωπικό του Κέντρου Λειτουργίας και Διαχείρισης Δικτύου.
                        </p>

                        <p>
                            <i>* Παρακαλώ, σημειώστε ότι η υπηρεσία είναι ΣΥΜΠΛΗΡΩΜΑΤΙΚΗ της εκπαιδευτικής διαδικασίας. Επίσης, η υποστήριξή της βασίζεται στο μοντέλο της "Καλύτερης Προσπάθειας" (Best effort) και όχι της "Εγγυημένης Ποιότητας" λόγω των περιορισμένων πόρων σε ανθρώπινο δυναμικό</i><br/>
                            <i>** Οι κάμερες καλύπτουν (εμβέλεια) με εικόνα και ήχο την σκηνή που βρίσκεται ο διδάσκων ή η διδάσκουσα καθώς και το χώρο προβολής διαφανειών. Υπάρχει μέριμνα ώστε να μην απεικονίζονται τα έδρανα των φοιτητών και ο ήχος τους.</i>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-coreui-dismiss="modal">Κλείσιμο</button>
                </div>
            </div>
        </div>
    </div>
</div>