<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="terms_modal">
    <div class="modal fade " id="faq_modal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true" style="max-height: 800px">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header pb-1">
                    <h4 class="modal-title" id="modalTitle"> <i class="far fa-question-circle"></i> Συχνές Ερωτήσεις</h4>
                    <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-1">
                    <div class="container-fluid mt-2" style="text-align: justify">
                        <p></p>
                        <p><strong>Δεν είμαι μέλος της πανεπιστημιακής κοινότητας. Μπορώ να παρακολουθήσω το διατιθέμενο υλικό;</strong><br/>
                            Ναι, φυσικά. Το περιεχόμενο της πλατφόρμας απευθύνεται σε κάθε ενδιαφερόμενο.
                        </p>
                        <p><strong>Υπάρχει κόστος παρακολούθησης;</strong><br /> Όχι, το περιεχόμενο διατίθεται δωρεάν.</p>

                        <p><strong>Μπορώ να επικοινωνήσω με τον διδάσκοντα/ δημιουργό περιεχομένου; </strong>
                            <br/>Όχι, δεν υποστηρίζεται επικοινωνία με το διδακτικό προσωπικό.</br>
                        </p>

                        <p><strong>Mπορώ να επαναχρησιμοποιήσω το εκπαιδευτικό περιεχόμενο;</strong><br />Εξαρτάται από τα δικαιώματα χρήσης του υλικού. Παρακαλείστε όπως ελέγξετε την άδεια χρήσης από την οποία συνοδεύεται το περιεχόμενο που σας ενδιαφέρει.
                        </p>

                        <p><strong>Αντιμετωπίζω πρόβλημα στην παρακολούθηση ή/ και στην ανάρτηση/ διαχείριση υλικού. Πού μπορώ να απευθυνθώ για βοήθεια; </strong>
                            <br/>Δείτε τα στοιχεία επικοινωνίας.
                        </p>

                        <p><strong>Τι είναι τα ανοικτά ψηφιακά μαθήματα;</strong>
                            <br /> Μαθήματα προπτυχιακού ή μεταπτυχιακού προγράμματος σπουδών, που διδάσκονται σε Πανεπιστήμια και ΤΕΙ και τα οποία έχουν διαμορφωθεί ψηφιακά, ώστε να διατίθενται στο Διαδίκτυο, με ανοικτές άδειες χρήσης πνευματικών δικαιωμάτων Creative Commons (CC). Για περισσότερες πληροφορίες, μπορείτε να επισκεφθείτε την <a href="http://opencourses.gr/" target="_blank">Πύλη Αναζήτησης Ανοικτών Μαθημάτων</a> και την πλατφόρμα ασύγχρονης τηλεκπαίδευσης του ιδρύματος.
                        </p>

                        <p><strong>To περιεχόμενο της υπηρεσίας είναι όλο ανοικτό ή μέρος των Ανοικτών Μαθημάτων;</strong>

                            <br/>Όχι.  Το περιεχόμενο είναι υπερσύνολο του πολυμορφικού περιεχομένου των Ανοικτών Μαθημάτων. Μπορεί να περιλαμβάνει περιεχόμενο, ανοικτό ή κλειστό, προερχόμενο όχι αποκλειστικά από την εκπαιδευτική αλλά από οποιαδήποτε δραστηριότητα του ιδρύματος καθώς και του διδακτικού, ερευνητικού προσωπικού του.</br>Προκειμένου να φιλοξενηθεί περιεχόμενο στην υπηρεσία, δεν είναι προϋπόθεση να  αποτελεί μέρος των Ανοικτών Μαθημάτων, ούτε να είναι ανοικτό. Μπορεί να φιλοξενηθεί εκπαιδευτικό πολυμορφικό περιεχόμενο προερχόμενο από τη διδασκαλία ή άλλες εκδηλώσεις του ιδρύματος, υπό την προϋπόθεση να μην εγείρονται ζητήματα δικαιωμάτων πνευματικής ιδιοκτησίας.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-coreui-dismiss="modal">Κλείσιμο</button>
                </div>
            </div>
        </div>
    </div>
</div>