<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<nav th:fragment="a-deparment-select" class="navbar navbar-expand pl-0 pt-0 pb-2">
    <div class="collapse navbar-collapse" id="navbarTop">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" style="z-index: 1000">
                <a class="nav-link dropdown-toggle gray-link-wcag-color p-0" href="#" id="department-dropdown" role="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="text-muted">Τμήμα</span>
                    <br/>
                    <span th:unless="${department == null}" class="h4 text-wrap" th:text="${department.title}"></span>
                    <span th:if="${department == null}" class="h4 text-wrap" th:text="${'Επιλέξτε Τμήμα'}"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="department-dropdown" id="department-columns"></ul>
            </li>
        </ul>
    </div>
</nav>
