<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:fragment="a-search-nav">
    <div class="justify-content-between">
        <!-- @thymesVar id="resourceQuery" type="org.opendelos.dashboard.repository.resource.ResourceQuery"-->
        <!-- @thymesVar id="cpage" type="java.lang.String"-->
        <form id="search-form" th:object="${resourceQuery}" th:action="@{/admin/{page}(page=${cpage})}" method="post">
            <input type="hidden" id="departmentId"  th:field="*{departmentId}" />
            <input type="hidden" id="schoolId"      th:field="*{schoolId}" />
            <input type="hidden" id="courseId"      th:field="*{courseId}" />
            <input type="hidden" id="eventId"       th:field="*{eventId}" />
            <input type="hidden" id="staffId"       th:field="*{staffMemberId}" />
            <input type="hidden" id="categoryCode"  th:field="*{categoryCode}" />
            <input type="hidden" id="accessPolicy"  th:field="*{accessPolicy}" />
            <input type="hidden" id="resourceType"  th:field="*{resourceType}" />
            <input type="hidden"                    th:field="*{period}" />
            <input type="hidden"                    th:field="*{academicYear}" />
            <input type="hidden"                    th:field="*{skip}" />
            <input type="hidden" id="sortField"     th:field="*{sort}" />
            <input type="hidden" id="directionField" th:field="*{direction}" />
            <input type="hidden"                    th:field="*{totalResults}"/>
            <input type="hidden" id="tag"           th:field="*{tag}"/>

            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #f8f8f8!important;border-radius: 25px!important;border: 1px lightgrey solid!important;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop"
                        aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTop">
                        <ul class="navbar-nav mr-auto">
                            <th:block sec:authorize="hasRole('ROLE_MANAGER') || hasRole('ROLE_SA') || hasRole('SUPPORT') || hasRole('ROLE_STAFFMEMBER')">
                                <th:block sec:authorize="hasRole('ROLE_STAFFMEMBER')">
                                    <!-- @thymesVar id="user" type="org.opendelos.model.users.OoUserDetails"-->
                                    <a class="nav-link mr-5" title="Οι διαλέξεις και οι εκδηλώσεις μου" th:href="@{/admin/search(s=${user.id})}">
                                        <i class="fas fa-briefcase"></i> Το Χαρτοφυλάκιό μου
                                    </a>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_MANAGER') || hasRole('ROLE_SA')">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" style="color: #4f5d73" href="#" id="department-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  Τμήμα
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="department-dropdown" id="department-columns"></ul>
                                    </li>
                                    <a class="nav-link btn-xs btn-default" style="color: #4f5d73" title="άνοιγμα καταλόγου διδασκόντων" href="#" role="button" id="staff_list">
                                        Καθηγητής</span><i class="fas fa-caret-down pt-0 ml-1"></i>
                                    </a>
                                </th:block>
                                    <a class="nav-link btn-xs btn-default" style="color: #4f5d73" title="άνοιγμα καταλόγου μαθημάτων" href="#" role="button" id="course_list" >
                                        Μάθημα</span><i class="fas fa-caret-down pt-0 ml-1"></i>
                                    </a>
                                    <a class="nav-link btn-xs btn-default" style="color: #4f5d73" title="άνοιγμα καταλόγου εκδηλώσεων" href="#" role="button" id="event_list">
                                        Εκδήλωση</span><i class="fas fa-caret-down pt-0 ml-1"></i>
                                    </a>

                            </th:block>
                        </ul>
                    <span class="form-inline my-2 my-lg-0 mr-2">
                           <input class="form-control form-control mr-sm-2" size="40" id="search-box" type="search" placeholder="Αναζήτηση με λέξεις" aria-label="Search" th:field="*{ft}">
                           <button class="btn btn-secondary btn-pill my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    </span>
                </div>
            </nav>

        </form>
    </div>
</div>