<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"  th:lang="${localeCode}">
<head>
    <meta charset="UTF-8">
    <title>ΕΚΠΑ :: Διαλέξεις</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="@{/public/images/icons/delos.ico}">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/lib/coreui41/coreui.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/wcag/wcag.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-css/delos.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/all.min.css}"/>

    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body style="font-size: 0.88em">
<div class="wrapper d-flex flex-column min-vh-100"  style="background-color: white">
    <div th:replace="~{elements/a-topnav-41 :: a-topnav}"></div>
    <div class="body flex-grow-1 px-3">

        <div class="container-lg" style="margin-top: 60px">
            <!-- Upper Logo -->
            <div class="row">
                <div class="col-12">
                    <div class="card mb-0" style="border: none">
                        <div class="card-header px-0" style="background-color: white;border: none">
                            <h1 style="font-size: 1.4em;font-weight: 600"><span class="icon-on-demand" style="color: #006A9B;font-size: 1.5em"></span> ΔΙΑΛΕΞΕΙΣ</h1>
                        </div>
                    </div>
                    <hr class="float-left my-1" style="border-top: #005cbf 3px solid;width: 100%"/>
                </div>
            </div>
            <!-- breadcrumb -->
            <div class="row mt-0 mb-2">
                <div class="col-12">
                    <div class="subheader px-1">
                            <ol class="breadcrumb border-0 m-0">
                                <li class="breadcrumb-item">
                                    <a   class="blue-link-wcag-color" th:href="@{/}">Αρχική</a>
                                </li>
                                <li class="breadcrumb-item active blue-link-wcag-color" style="font-weight: 600">
                                    Αναζήτηση με Μάθημα
                                </li>
                            </ol>
                            <ol class="breadcrumb border-0 m-0 float-end">
                                <li class="breadcrumb-item active">
                                    <a   class="blue-link-wcag-color" th:href="@{/departments}"> Τμήμα</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a   class="blue-link-wcag-color" th:href="@{/staffmembers}"> Διδάσκων</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a   class="blue-link-wcag-color" th:href="@{/themareas}"> Θεματική Περιοχή</a>
                                </li>
                            </ol>
                        </div>
                    </div>
           </div>
            <div class="px-1" style="font-weight: 400">
                Επιλέξτε το "Μάθημα" που σας ενδιαφέρει. Μεταβείτε γρήγορα στη αντίστοιχη λίστα επιλέγοντας το πρώτο γράμμα του τίτλου.
                Μπορείτε να αλλάξετε το βασικό κριτήριο αναζήτησης, επιλέγοντας ένα άλλο από τη λίστα των βασικών κριτηρίων στο πάνω-δεξιά μέρος της σελίδας
            </div>
            <!-- Content -->
            <div class="row mt-3 mb-2">
                    <div class="col-12 text-center"  title="επιλέξτε το αρχικό γράμμα από τον τίτλος του μαθήματος για να μεταβείτε στη σχετική λίστα">
                        <th:block th:each="letter, iStat: ${coursesByLetter}" th:style="${iStat.odd}? ''">
                            <a th:href="@{${'#anch-' + iStat.index}}" style="color: #006A9B">
                                <span class="font-weight-bolder mx-1" th:text="${letter.key}"></span>
                            </a>
                        </th:block>
                    </div>
            </div>
            <div class="row">
                     <th:block th:each="letter, iStat: ${coursesByLetter}" th:style="${iStat.odd}? ''">
                        <div th:id="${'anch-' + iStat.index}" class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div style="font-size: 1.2em">
                                        <span  style="color: #006A9B;font-weight: 500"  th:text="${letter.key}"></span>
                                        <span class="float-right font-sm">
                                            <a href="#" onclick="window.scroll({top: 0, left: 0, behavior: 'smooth'});" title="αρχή σελίδας">
                                                <i class="fas fa-arrow-circle-up" style="color: #DFDFDF!important;"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <th:block th:each="course, iStata: ${letter.value}" th:style="${iStata.odd}? ''">
                                        <div class="my-1">
                                            <a class="blue-link-wcag-color" th:href="@{search(c=${course.id})}" th:text="${course.title}" >

                                            </a>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer-411 :: footer}">Footer</div>
</div>


<div th:replace="~{modals/logout_modal :: #logout_modal}"></div>
<div th:replace="~{modals/about-modal :: #about_modal}"></div>
<div th:replace="~{modals/terms-modal :: #terms_modal}"></div>
<div th:replace="~{modals/faq-modal :: #faq_modal}"></div>
<div th:replace="~{modals/contact-modal :: #contact_modal}"></div>


<script th:src="@{/css/jquery-3.5.1/jquery-3.5.1.js}" type="application/javascript"></script>
<script th:src="@{/lib/coreui41/coreui.bundle.min.js}"></script>
<script th:src="@{/js/texts/text-utils.js}"></script>
</body>
</html>