<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>ΕΚΠΑ :: Διαλέξεις</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/front-page.css}"/>
    <link rel="shortcut icon" th:href="@{/public/images/icons/delos.ico}">
    <link rel="stylesheet" th:href="@{/lib/coreui/coreui.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/coreui/free.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/wcag/wcag.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-css/delos.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/delos/search.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/all.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/select2/css/select2.min.css}"/>
    <!-- alertify -->
    <link rel="stylesheet" th:href="@{/lib/alertify/css/alertify.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/alertify/css/themes/bootstrap.min.css}"/>
</head>

<body class="c-app" style="background-color: white">
<div class="c-wrapper">
    <div th:replace="~{elements/a-topnav :: a-topnav}"></div>
    <div class="c-body">
        <main class="c-main pt-1">
            <div class="container" style="margin-top: 60px">
                <!-- Upper Logo -->
                <div class="row">
                    <div class="col-lg-4 d-md-none d-sm-none d-none d-lg-block img-fluid mt-2" style="min-width: 320px">
                        <img class="mt-1 mb-md-3" th:src="@{${'/public/images/logos/uoa_logo_' + localeCode + '.svg'}}" th:alt="#{default.institution.title}" style="max-height: 79px;" alt="" src="">
                    </div>
                    <div class="col-lg-8 col-md-12" id="main-title">
                        <div><span class="icon-on-demand" style="color: #006A9B;font-size: 1.5em"></span> ΕΚΠΑ <b>ΔΙΑΛΕΞΕΙΣ</b>
                                <br/><span class="float-right font-xs font-italic" style="font-weight: 450">video-on-demand</span>
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <div class="row mt-3">
                            <div class="col-12 mt-2" >
                                <hr class="my-0 pt-0 pb-2 float-left" style="border-top: #005cbf 3px solid;width: 100%;"/><br/>
                                    <div class="text-muted">
                                        Αναζητήστε & προβάλετε μαγνητοσκοπημένο περιεχόμενο καταγεγραμμένο από την εκπαιδευτική διαδικασία του ιδρύματος
                                    </div>
                                <!--@thymesVar id="no_lectures" type="java.lang.Long"-->
                                <!--@thymesVar id="no_events" type="java.lang.Long"-->
                                <div class="row py-2">
                                    <div class="col-12">
                                        <div class="form-inline float-right">
                                            <span class="fas fa-search"></span>
                                            <a title="Σύνθετη Αναζήτηση" class="nav-link blue-link-wcag-color py-0" th:href="@{search}">Σύνθετη Αναζήτηση</a>
                                        </div>
                                    </div>
                                </div>
                                <nav class="navbar navbar-expand-md navbar-dark bg-light mt-3 py-1" style="background-color: #f8f8f8!important;border-radius: 25px!important;border: 1px lightgrey solid!important">
                                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#searchBarDepartmentContent" aria-controls="searchbarSupportedContent"
                                                aria-expanded="false" aria-label="Toggle navigation">
                                      <i class="fas fa-bars" style="color:grey"></i>
                                   </button>
                                   <div class="collapse navbar-collapse" id="searchBarDepartmentContent">
                                            <ul class="navbar-nav mr-auto">
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle gray-accesskeys-link-wcag-color" href="#" id="catDropdown" role="button"
                                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Θεματική Περιοχή
                                                    </a>
                                                    <ul class="dropdown-menu" aria-labelledby="catDropdown" id="category-list"></ul>
                                                </li>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle gray-accesskeys-link-wcag-color" href="#" id="department-dropdown-content" role="button"
                                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Τμήμα
                                                    </a>
                                                    <ul class="dropdown-menu" aria-labelledby="department-dropdown" id="department-columns-content"></ul>
                                                </li>
                                            </ul>
                                   </div>
                                </nav>
                                <div class="mt-3 text-center py-2" style="font-weight: 400;background-color: lightgoldenrodyellow">
                                    <i class="far fa-comment-dots"></i> Επιλέξτε <b>'Θεματική Περιοχή'</b> ή <b>'Τμήμα'</b>. Για περισσότερες επιλογές, επιλέξτε <b>'Σύνθετη Αναζήτηση'</b>
                                </div>
                            </div>
                </div>
                <!-- News & Announcements -->
                <div class="row"  style="margin-top:30px">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header" style="background-color: #006A9B !important;color: white">
                                Νέα & Ανακοινώσεις
                            </div>
                            <div class="card-body" style="border: none">
                                <div th:if="${messageList.size > 0}" th:each="message:${messageList}">
                                    <div th:if="${message.status == 'danger'}">
                                        <i class="fas fa-circle" style="font-size: 0.7em;color: red"></i>
                                        <span th:text="${message.text}" style="border-bottom: #f1f2f2 1px solid;color: red"></span>
                                    </div>
                                    <div th:if="${message.status == 'warning'}">
                                        <i class="fas fa-circle" style="font-size: 0.7em;color: orange"></i>
                                        <span th:text="${message.text}" style="border-bottom: #f1f2f2 1px solid"></span>
                                    </div>
                                    <div th:if="${message.status == 'info'}">
                                        <i class="fas fa-circle" style="font-size: 0.7em;color: #005ba3"></i>
                                        <span th:text="${message.text}" style="border-bottom: #f1f2f2 1px solid"></span>
                                    </div>
                                    <div th:if="${message.status == 'success'}">
                                        <i class="fas fa-circle" style="font-size: 0.7em;color: darkgreen"></i>
                                        <span th:text="${message.text}" style="border-bottom: #f1f2f2 1px solid"></span>
                                    </div>
                                </div>
                                <div th:unless="${messageList.size > 0}">
                                    - Καμία ενεργή ανακοίνωση
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div th:replace="~{fragments/footer :: footer}">Footer</div>
</div>


<div th:replace="~{modals/logout_modal :: #logout_modal}"></div>

<div th:replace="~{modals/about-modal :: #about_modal}"></div>
<div th:replace="~{modals/terms-modal :: #terms_modal}"></div>
<div th:replace="~{modals/faq-modal :: #faq_modal}"></div>
<div th:replace="~{modals/contact-modal :: #contact_modal}"></div>


<script th:src="@{/css/jquery-3.5.1/jquery-3.5.1.js}" type="application/javascript"></script>
<script th:src="@{/lib/coreui/coreui.bundle.min.js}"></script>
<script th:src="@{/lib/coreui/coreui-utilities.min.js}"></script>

<script th:src="@{/css/select2/js/select2.js}" type="application/javascript"></script>
<!-- alertify -->
<script th:src="@{/lib/alertify/alertify.min.js}"></script>

<script th:src="@{/js/home/dashboard.js}" type="application/javascript"></script>
<script th:src="@{/js/home/dashboard.departments.js}" type="application/javascript"></script>
<script th:src="@{/js/home/dashboard.categories.js}" type="application/javascript"></script>

<script th:src="@{/css/moment/moment.min.js}" type="text/javascript" ></script>
<script th:src="@{/css/moment/en-gb.js}" type="text/javascript" ></script>
<script th:src="@{/css/moment/el.js}" type="text/javascript" ></script>
</body>
</html>