<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" th:lang="${localeCode}">
<head>
    <meta charset="UTF-8">
    <title>ΕΚΠΑ :: Διαλέξεις</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="@{/public/images/icons/delos.ico}">

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/front-page.css}"/>
    <link rel="stylesheet" th:href="@{/lib/coreui41/coreui.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/wcag/wcag.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-css/delos.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/all.min.css}"/>

    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body style="font-size: 0.88em">
<div class="wrapper d-flex flex-column min-vh-100"  style="background-color: white">
    <div th:replace="~{elements/a-topnav-41 :: a-topnav}"></div>
    <div class="body flex-grow-1 px-3">

        <div class="container-lg" style="margin-top: 60px">
            <!-- Upper Logo -->
            <div class="row">
                <div class="col-12 text-center">
                    <h1 style="font-size: 1.2em">
                        <span class="icon-on-demand" style="color: #006A9B;font-size: 2.2em"></span>
                        <span class="me-2" style="font-size:2em;font-weight: 300" th:text="#{ekpa_initials}"></span>
                        <span style="font-size:2em;font-weight: 600" th:text="#{lectures_cap}">ΔΙΑΛΕΞΕΙΣ</span>
                    </h1>
                    <div class="float-end" style="font-weight: 450;font-style: italic">video-on-demand</div>
                </div>
            </div>
            <hr class="float-left my-1" style="border-top: #005cbf 3px solid;width: 100%"/>
            <div style="font-weight: 500">
                <span th:text="#{home_head_text}"></span>
            </div>

            <!-- Search Menu -->
            <div class="row mt-0">
                <div class="col-12">
                                <div class="row pb-2 pt-3">
                                    <div class="col-12">
                                        <span th:text="#{start_search_msg}"></span>
                                    </div>
                                </div>
                                <div class="row py-2" style="font-size: 1em">
                                    <div class="col-lg-3 col-md-6 col-sm-12 text-center my-2">
                                            <a role="button"  title="Αναζήτηση με Τμήμα" style="width: 80%" class="blue-link-wcag-color me-1  py-2  btn btn-secondary" th:href="@{departments}">
                                                <i class="fas fa-building me-1"></i><span th:text="#{department}">Τμήμα</span>
                                            </a>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 text-center my-2">
                                            <a  role="button" title="Αναζήτηση με Τμήμα" style="width: 80%" class="blue-link-wcag-color me-1  py-2  btn btn-secondary" th:href="@{staffmembers}">
                                                <i class="fas fa-graduation-cap me-1"></i><span th:text="#{teacher}">Διδάσκων</span>
                                            </a>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 text-center my-2">
                                            <a  role="button" title="Αναζήτηση με Τμήμα" style="width: 80%" class="blue-link-wcag-color me-1   py-2 btn btn-secondary" th:href="@{courses}">
                                                <i class="fa fa-book me-1"></i><span th:text="#{course}">Μάθημα</span>
                                            </a>
                                     </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 text-center my-2">
                                        <a role="button" title="Αναζήτηση με Θεματική Περιοχή"  style="width: 80%" class="blue-link-wcag-color me-1  py-2 btn btn-secondary" th:href="@{themareas}">
                                            <i class="fas fa-share-alt me-1"></i><span th:text="#{area}">Θεματική Περιοχή</span>
                                        </a>
                                    </div>
                                </div>
                    </div>
            </div>

            <!-- COUNTERS -->
            <div class="row mt-3 py-2" style="background-color: whitesmoke">
                <div class="col-lg-4 col-md-12 text-center">
                    <div style="font-size: 3em"><span class="text-dark" th:text="${no_lectures}"></span></div>
                    <div style="font-size: 1.2em"><span th:text="#{lectures_sc}" class="text-dark">Διαλέξεις*</span></div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <div style="font-size: 3em"><span class="text-dark" th:text="${no_staff}"></span></div>
                    <div style="font-size: 1.2em"><span th:text="#{teachers}" class="text-dark">Διδάσκοντες</span></div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <div style="font-size: 3em"><span class="text-dark" th:text="${no_courses}"></span></div>
                    <div style="font-size: 1.2em"><span th:text="#{courses}" class="text-dark">Μαθήματα</span></div>
                </div>
            </div>
            <div class="pl-0" style="margin-top: 10px;font-style: italic;font-size: small">
                <span th:text="#{lectures_sum_note}"></span>
            </div>


            <!-- NEWS & Announcements -->
            <!-- @thymesVar id="uMsg" type="org.opendelos.model.system.SystemMessage" -->
            <div class="row" style="margin-top: 50px">
                <div class="col-lg-3">
                    <div class="card-header blue-btn-wcag-bgnd-color text-white" style="font-weight: 500">
                        <i class="fas fa-scroll me-1 text-white"></i>Νέα & Ανακοινώσεις
                    </div>
                </div>
                <div class="col-lg-9 col-md-12" style="font-size: 1em">
                    <th:block th:each="uMsg, iStat: ${VisitorMessages}" th:style="${iStat.odd}? ''">
                        <div class="row">
                            <div class="col-1 text-center" style="min-width: 10px">
                                <i th:if="${uMsg.status == 'info'}" class="fas fa-info" style="padding: 2px;color:lightskyblue"></i>
                                <i th:if="${uMsg.status == 'success'}" class="fas fa-check" style="padding: 2px;color:green"></i>
                                <i th:if="${uMsg.status == 'warning'}" class="fas fa-exclamation" style="padding: 2px;color: orange"></i>
                                <i th:if="${uMsg.status == 'danger'}" class="fas fa-exclamation-triangle" style="padding: 2px;color:red"></i>
                            </div>
                            <div class="vr"></div>
                            <div class="col-10">
                                <span style="font-weight: 500" th:text="${uMsg.text}"></span>
                                <br/>
                                <span style="font-size: 0.9em" class="text-medium-emphasis">
                                    <span th:replace="fragments/format-resource-date.html:: formatDate (field=${uMsg.startDate})"></span>
                                    <span th:replace="fragments/format-resource-date.html:: formatDateTime (field=${uMsg.startDate})"></span>
                                </span>
                            </div>
                        </div>
                        <div th:unless="${iStat.last}" class="my-1" style="border-bottom: 1px #ccc solid;line-height: 2em"></div>
                    </th:block>
                </div>
            </div>


            <div class="pl-0" style="margin-top: 50px">
                <span style="font-weight: 500" th:text="#{also_visit}"></span>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6 col-md-12">
                    <div class="card mb-3">
                        <div class="card-body p-0">
                            <div style="font-size: 1.2em">
                                <a th:href="${app_live_url}" style="color: #006A9B" target="_blank">
                                    <span class="icon-live-lecture" style="color: red"></span>
                                    <span  th:text="#{ekpa_initials}">ΕΚΠΑ</span>
                                    <span style="font-weight: 600" th:text="#{live_cap}">ΜΕΤΑΔΟΣΕΙΣ ΔΙΑΛΕΞΕΩΝ</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-footer" style="background-color: white">
                            <span th:text="#{site_live_text}"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card mb-3">
                        <div class="card-body p-0">
                            <div style="font-size: 1.2em">
                                <a th:href="${app_events_url}" style="color: #006A9B" target="_blank">
                                    <span class="fas fa-circle" style="color: darkorange"></span>
                                    <span  th:text="#{ekpa_initials}">ΕΚΠΑ</span>
                                    <span style="font-weight: 600" th:text="#{events_cap}">ΔΡΑΣΕΙΣ</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-footer" style="background-color: white">
                            <span th:text="#{site_events_text}"></span>
                        </div>
                    </div>
                </div>
            </div>



       </div>

    </div>
    <div th:replace="~{fragments/footer-411 :: footer}">Footer</div>
</div>

<div th:replace="~{modals/logout_modal :: #logout_modal}"></div>

<div th:replace="~{modals/about-modal :: #about_modal}"></div>
<div th:replace="~{modals/terms-modal :: #terms_modal}"></div>
<div th:replace="~{modals/faq-modal :: #faq_modal}"></div>

<script th:src="@{/css/jquery-3.5.1/jquery-3.5.1.js}" type="application/javascript"></script>
<script th:src="@{/lib/coreui41/coreui.bundle.min.js}"></script>

<script th:src="@{/js/i18n/locale.js}"></script>
<script th:src="@{/js/texts/text-utils.js}"></script>
 </body>
</html>