<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title th:text="${'ΕΚΠΑ ::Διαλέξεις - Αναπαραγωγή: ' + resource.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <!-- CoreUI CSS -->
    <link rel="stylesheet" th:href="@{/lib/coreui41/coreui.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/checkbox-css/checkbox.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch/bootstrap-switch.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/wcag/wcag.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-css/delos.css}"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/delos/navbar.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/player/player.css}"/>
</head>
<body style="font-size: 0.88em">
<!--@thymesVar id="resource" type="org.opendelos.model.resources.Resource"-->
<input type="hidden" id="showIntro"    th:value="${resource.playerOptions.showLicenseIntro}"/>
<input type="hidden" id="video_url"    th:value="${video_url}" size="100"/>
<input type="hidden" id="intro_url"    th:value="${ccLicense.intro_url}" size="100"/>
<input type="hidden" id="hasSlides"    th:value="${hasSlides}"/>
<input type="hidden" id="slidesSynced" th:value="${slidesSynced}"/>
<input type="hidden" id="duration"     th:value="${resource.resourceAccess.duration}"/>
<input type="hidden" id="real_duration"     th:value="${resource.realDuration}"/>
<input type="hidden" id="showOverlay"  th:value="${resource.playerOptions.overlay}"/>
<input type="hidden" id="resourceId"   th:value="${resource.id}"/>

<div class="wrapper d-flex flex-column min-vh-100"  style="background-color: white">
    <div th:replace="~{elements/a-topnav-41 :: a-topnav}"></div>
    <div class="body flex-grow-1 px-3">
        <div class="container-fluid" style="margin-top: 60px">
                <div class="row">
                    <div class="offset-lg-1 col-lg-10 col-md-12">
                        <!-- Trim Start -->
                        <th:block th:if="${resource.presentation != null}">
                            <th:block th:if="${resource.presentation.cuts != null && resource.presentation.cuts.trims != null && resource.presentation.cuts.trims.start != null}">
                                <input type="hidden" id="trim_start" th:attr="data-trim=${resource.presentation.cuts.trims.start.begin + '#' + resource.presentation.cuts.trims.start.end}"/>
                            </th:block>
                            <!-- Trim End -->
                            <th:block  th:if="${resource.presentation.cuts != null &&  resource.presentation.cuts.trims != null && resource.presentation.cuts.trims.finish != null}">
                                <input type="hidden" id="trim_end" th:attr="data-trim=${resource.presentation.cuts.trims.finish.begin + '#' + resource.presentation.cuts.trims.finish.end}"/>
                            </th:block>
                            <!-- Cuts -->
                            <th:block th:if="${resource.presentation.cuts != null && resource.presentation.cuts.clips != null && resource.presentation.cuts.clips.cuts != null}">
                                <th:block class="cut_space" th:each="cut, iStat: ${resource.presentation.cuts.clips.cuts}">
                                    <input type="hidden" th:attr="data-cut=${cut.begin + '-' + cut.end}"/>
                                </th:block>
                            </th:block>
                        </th:block>
                            <th:block th:if="${hasSlides}">
                                <!-- HEADER -->
                                <div class="row">
                                    <div class="colp-1"></div>
                                    <div class="colp-6 py-1">
                                        <h5 class="blue-link-wcag-color" >
                                            <span th:if="${#strings.substringBefore(resource.title,'(') != null}" th:text="${#strings.substringBefore(resource.title,'(')}"></span>
                                            <span th:unless="${#strings.substringBefore(resource.title,'(') != null}" th:text="${resource.title}"></span>
                                            <span th:if="${resource.partNumber != 0}" th:text="${' / Μέρος ' + resource.partNumber}"></span>
                                        </h5>
                                        <div class="font-weight-bolder">
                                            <th:block th:if="${resource.course != null}">
                                                <div class="mb-2">
                                                    <strong>Μάθημα:</strong> <span th:text="${resource.course.title + ' - '}"></span>
                                                    <strong>Τμήμα </strong> <span th:text="${resource.course.department.title}"></span>
                                                </div>
                                                <div><strong>Διδάσκων:</strong> <span th:text="${resource.supervisor.name + ', ' + resource.supervisor.affiliation}"></span></div>
                                            </th:block>
                                            <th:block th:if="${resource.getEvent != null}">
                                                <div class="mb-2"><strong>Εκδήλωση:</strong> <span th:text="${resource.getEvent.title}"></span></div>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="colp-1 colp-s-12"></div>
                                    <div class="colp-6 colp-s-12" id="left-box">
                                        <div style="width: 100%;margin: 0 auto">
                                            <div th:replace="~{fragments/player/u-presentation :: u-presentation}">Παρουσίαση</div>
                                        </div>
                                    </div>
                                    <div class="colp-1 colp-s-12 px-0">
                                        <span class="justify-content-center">
                                               <button id="layout_button" title="Αλλαγή διάταξης" class="btn btn-light btn-sm form-control" style="color: black;width: 50%;margin: 0 auto">
                                                        <i class="fas fa-exchange-alt"></i>
                                               </button>
                                        </span>
                                    </div>
                                    <div class="colp-3 colp-s-12" id="right-box">
                                        <div class="aside" id="video_wrapper">
                                            <div th:replace="~{fragments/player/u-videoplayer :: u-videoplayer}">Video Player</div>
                                            <div id="overlay_1" style="visibility:hidden" th:if="${resource.course != null}" th:text="${resource.supervisor.name}"></div>
                                            <div id="overlay_2" style="visibility:hidden" th:if="${resource.getEvent != null}" th:text="${resource.classroomName}"></div>
                                        </div>
                                        <th:block th:if="${resource.parts && related_parts.size > 1}">
                                            <div class="mt-3">
                                                    <b>Από την ίδια <span th:if="${resource.type == 'COURSE'}" th:text="Διάλεξη"></span>
                                                        <span th:if="${resource.type == 'EVENT'}" th:text="Εκδήλωση"></span>
                                                    </b>
                                                    <p class="mt-2">
                                                    <div th:each="item,iStat: ${related_parts}">
                                                            <th:block th:unless="${item.id == resource.id}">
                                                                <div class="my-2 py-2 ps-1">
                                                                    <a style="color: #006A9B !important;font-weight: bolder" th:href="${'player?id=' + item.id}" title="αναπαραγωγή">
                                                                        <span th:text="${(iStat.index+1) + '. ' + item.title + ' / Μέρος ' + item.partNumber}"></span>
                                                                    </a>
                                                                    <div class="ps-3 pt-1">
                                                                        Αίθουσα/Χώρος:
                                                                        <span class="mr-2 font-weight-bolder" th:if="${item.classroomName != null}" th:text="${item.classroomName}"></span>
                                                                    </div>
                                                                    <div class="ps-3 pt-1">
                                                                        Ημερομηνία Εγγραφής:
                                                                        <span th:replace="fragments/format-resource-date.html:: formatDate(field=${resource.date})"></span>
                                                                        <span th:replace="fragments/format-resource-date.html:: formatDateTime(field=${resource.date})"></span>
                                                                    </div>
                                                                </div>
                                                            </th:block>
                                                            <th:block th:if="${item.id == resource.id}">
                                                                <div class="blue-btn-wcag-bgnd-color text-white my-2 py-2 ps-1">
                                                                    <span class="font-weight-bolder" th:text="${(iStat.index+1) + '. ' + item.title + ' / Μέρος ' + item.partNumber}"></span>
                                                                    <div class="ps-3 pt-1">
                                                                        Αίθουσα/Χώρος:
                                                                        <span class="mr-2" style="font-weight: 600" th:if="${item.classroomName != null}" th:text="${item.classroomName}"></span>
                                                                    </div>
                                                                    <div class="ps-3 pt-1">
                                                                        Ημερομηνία Εγγραφής:
                                                                        <span th:replace="fragments/format-resource-date.html:: formatDate(field=${resource.date})"></span>
                                                                        <span th:replace="fragments/format-resource-date.html:: formatDateTime(field=${resource.date})"></span>
                                                                    </div>
                                                                </div>
                                                            </th:block>
                                                    </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:unless="${hasSlides}">
                                    <!-- HEADER -->
                                    <div class="row">
                                            <div class="colp-2 py-0"></div>
                                            <div class="colp-6 py-2">
                                                <h5 class="blue-link-wcag-color" >
                                                    <span th:if="${#strings.substringBefore(resource.title,'(') != null}" th:text="${#strings.substringBefore(resource.title,'(')}"></span>
                                                    <span th:unless="${#strings.substringBefore(resource.title,'(') != null}" th:text="${resource.title}"></span>
                                                    <span th:if="${resource.partNumber != 0}" th:text="${' / Μέρος ' + resource.partNumber}"></span>
                                                </h5>
                                                <div class="font-weight-bolder">
                                                    <th:block th:if="${resource.course != null}">
                                                        <div>
                                                            <strong>Μάθημα:</strong> <span th:text="${resource.course.title + ' - '}"></span>
                                                            <strong>Τμήμα </strong> <span th:text="${resource.course.department.title}"></span>
                                                        </div>
                                                        <div><strong>Διδάσκων:</strong> <span th:text="${resource.supervisor.name + ', ' + resource.supervisor.affiliation}"></span></div>
                                                        <div><strong>Ημερημηνία:</strong>
                                                            <span   th:text="${#temporals.format(resource.date, 'dd')}"></span>
                                                            <span   th:text="${#temporals.format(resource.date, 'MMMM')}"></span>
                                                            <span   th:text="${#temporals.format(resource.date, 'YYYY')}"></span>
                                                        </div>
                                                    </th:block>
                                                    <th:block th:if="${resource.getEvent != null}">
                                                        <div class="mb-2"><strong>Εκδήλωση:</strong> <span th:text="${resource.getEvent.title}"></span></div>
                                                    </th:block>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="colp-2 pt-0"></div>
                                        <div class="colp-6 pt-2">
                                            <div id="video_wrapper_1" style="width: 100%;margin: 0 auto" >
                                                <div th:replace="~{fragments/player/u-videoplayer :: u-videoplayer}">Video Player</div>
                                                <div id="overlay_1" style="visibility:hidden" th:if="${resource.course != null}" th:text="${resource.supervisor.name}"></div>
                                                <div id="overlay_2" style="visibility:hidden" th:if="${resource.getEvent != null}" th:text="${resource.classroomName}"></div>
                                            </div>
                                            <div id="no_video_wrapper" style="width: 100%;margin: 0 auto; display: none;background-color: #fdf59a" class="text-center py-2">
                                                 <div>
                                                     <i class="fas fa-video-slash fa-4x"></i>
                                                 </div>
                                                  <div>
                                                      <div style="color: red;font-weight: 400">Παρουσιάστηκε πρόβλημα κατά την αναπαραγωγή του βίντεο</div>
                                                      Περιγραφή προβλήματος: Το αρχείο βίντεο δεν βρέθηκε <br/>
                                                      Παρακαλώ, επικοινωνήσετε με τον διαχειριστή, χρησιμοποιώντας τη φόρμα στη σελίδα επικοινωνίας <i class="fas fa-phone mx-1"></i> αναφέροντας τον κωδικό της καταχώρησης<br/>
                                                      <span style="font-weight: 500" th:text="${'Κωδικός Καταχώρησης (id) = ' + resource.id}"></span>
                                                  </div>
                                            </div>
                                        </div>
                                        <th:block th:if="${resource.parts && related_parts.size > 1}">
                                                <div class="colp-4 mt-0 pt-0" id="right-box-s">
                                                    <b>ΑΠΟ ΤΗΝ ΙΔΙΑ <span th:if="${resource.type == 'COURSE'}" th:text="ΔΙΑΛΕΞΗ"></span>
                                                        <span th:if="${resource.type == 'EVENT'}" th:text="ΕΚΔΗΛΩΣΗ"></span>
                                                    </b>

                                                    <div th:each="item,iStat: ${related_parts}">
                                                        <th:block th:unless="${item.id == resource.id}">
                                                            <div class="my-2 py-2 ps-1">
                                                                <span th:text="${(iStat.index+1) + '. '}"></span>
                                                                <a style="color: #006A9B !important;font-weight: 500" th:href="${'player?id=' + item.id}" title="αναπαραγωγή">
                                                                    <span th:text="${item.title + ' / Μέρος ' + item.partNumber}"></span>
                                                                </a>
                                                                <div class="ps-3 pt-1">
                                                                    Αίθουσα/Χώρος:
                                                                    <span class="mr-2 font-weight-bolder" th:if="${item.classroomName != null}" th:text="${item.classroomName}"></span>
                                                                </div>
                                                                <div class="ps-3 pt-1">
                                                                    Ημερομηνία Εγγραφής:
                                                                    <span th:replace="fragments/format-resource-date.html:: formatDate(field=${resource.date})"></span>
                                                                    <span th:replace="fragments/format-resource-date.html:: formatDateTime(field=${resource.date})"></span>
                                                                </div>
                                                            </div>
                                                        </th:block>
                                                        <th:block th:if="${item.id == resource.id}">
                                                            <div class="blue-btn-wcag-bgnd-color text-white my-2 py-2 ps-1">
                                                                <span class="font-weight: 500" th:text="${(iStat.index+1) + '. ' + item.title + ' / Μέρος ' + item.partNumber}"></span>
                                                                <div class="ps-3 pt-1">
                                                                    Αίθουσα/Χώρος:
                                                                    <span class="mr-2 font-weight-bolder" th:if="${item.classroomName != null}" th:text="${item.classroomName}"></span>
                                                                </div>
                                                                <div class="ps-3 pt-1">
                                                                    Ημερομηνία Εγγραφής:
                                                                    <span th:replace="fragments/format-resource-date.html:: formatDate(field=${resource.date})"></span>
                                                                    <span th:replace="fragments/format-resource-date.html:: formatDateTime(field=${resource.date})"></span>
                                                                </div>
                                                            </div>
                                                        </th:block>
                                                    </div>
                                                </div>
                                        </th:block>
                                    </div>
                            </th:block>

                    </div>
                </div>


            </div>
    </div>
    <div th:replace="~{fragments/footer41 :: footer}">Footer</div>
</div>
<div th:replace="~{modals/logout_modal :: #logout_modal}"></div>
<!-- Optional JavaScript -->
<script th:src="@{/css/jquery-3.5.1/jquery-3.5.1.js}" type="application/javascript"></script>
<script th:src="@{/lib/coreui41/coreui.bundle.min.js}"></script>

<script th:src="@{/js/player/dashboard.js}" type="application/javascript"></script>
<script th:src="@{/js/player/dashboard.player.js}" type="application/javascript"></script>

<script th:src="@{/css/bootstrap-switch/bootstrap-switch.min.js}" type="application/javascript"></script>

<script th:src="@{/css/moment/moment.min.js}" type="text/javascript" ></script>
<script th:src="@{/css/moment/en-gb.js}" type="text/javascript" ></script>
<script th:src="@{/css/moment/el.js}" type="text/javascript" ></script>
</body>
</html>