<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="l-applied-filters">
        <div id="ActiveFilters mr-5" class="card" style="font-size: 0.9em">
            <!-- @thymesVar id="color" type="java.lang.String" -->
            <!-- @thymesVar id="landing_page" type="java.lang.String" -->
            <div th:unless="${landing_page == 'calendar-admin' || landing_page == 'daily-admin' || landing_page == 'live-admin'}"  th:class="${'card-header ' + color + '-btn-wcag-bgnd-color'}" style="color: whitesmoke">
                Ενεργά φίλτρα <a  href="#" id="clear-all-filters" style="border: none;color: yellow;display: none">(αφαίρεση όλων)</a>
            </div>
            <div th:if="${landing_page == 'calendar-admin' || landing_page == 'daily-admin' || landing_page == 'live-admin'}"  th:class="${'card-header'}" style="color: whitesmoke;background-color: #2C3E50">
                Ενεργά φίλτρα <a  href="#" id="clear-all-filters" style="border: none;color: yellow;display: none">(αφαίρεση όλων)</a>
            </div>
            <div class="card-body px-2">
                <!-- @thymesVar id="queryString" type="java.lang.String" -->
                <span th:unless="${queryString != null && queryString != ''}">
                    <div class="text-muted">Κανένα ενεργό φίλτρο</div>
                </span>
                <span th:if="${queryString != null && queryString != ''}">
                   <div id="ft-filter" style="display: none"  class="pl-2 mb-2">
                         <a href="#" role="button" title="αφαίρεση φίλτρου" style="color: #3c4b64;text-decoration: none" id="clear-ft-filter">
                            <span id="ft-dd-header" style="font-size: 1em;font-weight: 500;white-space: break-spaces"></span>
                         </a>
                    </div>
                    <div id="category-filter" style="display: none"  class="pl-2 mb-2">
                         <a href="#" role="button" title="αφαίρεση φίλτρου" style="color: #3c4b64;text-decoration: none" id="clear-ca-filter">
                            <span id="category-dd-header"  class="mb-2" style="font-size: 1em;font-weight: 500;white-space: break-spaces"></span>
                         </a>
                    </div>
                    <div id="department-filter" style="display: none"  class="pl-2 mb-2">
                         <a href="#" role="button" title="αφαίρεση φίλτρου" style="color: #3c4b64;text-decoration: none" id="clear-dt-filter">
                            <span id="department-dd-header" style="font-size: 1em;font-weight: 500;white-space: break-spaces"></span>
                         </a>
                    </div>
                    <div  id="course-filter" style="display: none"  class="pl-2 mb-2">
                        <a href="#" role="button" title="αφαίρεση φίλτρου" style="color: #3c4b64;text-decoration: none" id="clear-co-filter">
                           <span id="course-dd-header" style="font-size: 1em;font-weight: 500;white-space: break-spaces"></span>
                        </a>
                    </div>
                    <div   id="staff-filter"  style="display: none"  class="pl-2 mb-2">
                         <a href="#" role="button" title="αφαίρεση φίλτρου" style="color: #3c4b64;text-decoration: none" id="clear-sm-filter">
                            <span id="staff-dd-header"  class="mb-2" style="font-size: 1em;font-weight: 500;white-space: break-spaces"></span>
                         </a>
                    </div>
                    <div  id="events-filter"  style="display: none"  class="pl-2 mb-2">
                         <a href="#" role="button" title="αφαίρεση φίλτρου" style="color: #3c4b64;text-decoration: none" id="clear-ev-filter">
                            <span id="events-dd-header"  class="mb-2" style="font-size: 1em;font-weight: 500;white-space: break-spaces"></span>
                         </a>
                    </div>
                    <div  id="classrooms-filter"  style="display: none"  class="pl-2 mb-2">
                         <a href="#" role="button" title="αφαίρεση φίλτρου" style="color: #3c4b64;text-decoration: none" id="clear-cr-filter">
                            <span id="classrooms-dd-header"  class="mb-2" style="font-size: 1em;font-weight: 500;white-space: break-spaces"></span>
                         </a>
                    </div>
                    <div  id="resourceType-filter"  style="display: none"  class="pl-2 mb-2">
                         <a href="#" role="button" title="αφαίρεση φίλτρου" style="color: #3c4b64;text-decoration: none" id="clear-rt-filter">
                            <span id="rt-dd-header"  class="mb-2" style="font-size: 1em;font-weight: 500;white-space: break-spaces"></span>
                         </a>
                    </div>
                    <div  id="accessPolicy-filter"  style="display: none"  class="pl-2 mb-2">
                         <a href="#" role="button" title="αφαίρεση φίλτρου" style="color: #3c4b64;text-decoration: none" id="clear-ap-filter">
                            <span id="ap-dd-header" class="mb-2" style="font-size: 1em;font-weight: 500;white-space: break-spaces"></span>
                         </a>
                    </div>
                    <div  id="tags-filter"  style="display: none"  class="pl-2 mb-2">
                         <a href="#" role="button" title="αφαίρεση φίλτρου" style="color: #3c4b64;text-decoration: none" id="clear-tag-filter">
                            <span id="ap-tag-header"  class="mb-2" style="font-size: 1em;font-weight: 500;white-space: break-spaces"></span>
                         </a>
                    </div>
                </span>
            </div>
        </div>
    </div>
</body>

</html>