<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="ontop-applied-filters" class="pb-0">
        <div class="card mb-2">
            <div class="card-header pl-0" style="vertical-align: center;line-height: 30px">
                Επιλεγμένα κριτήρια
                <a role="button" id="clear-all-filters" title="αφαίρεση όλων των κριτηρίων και εκκίνηση νέας αναζήτησης" style="display: none"  class="btn btn-pill btn-light btn-sm float-end" >
                    <span class="fas fa-ban"></span> καθαρισμός
                 </a>
            </div>
            <div class="card-body px-0">
                        <button id="ft-filter" style="display: none;background-color: #006A9B !important"  class="my-2 mx-1 btn btn-info btn-sm">
                            <a href="#" role="button" title="αφαίρεση κριτηρίου" style="color: #ffffff;text-decoration: none" id="clear-ft-filter">
                                <span id="ft-dd-header"></span>
                            </a>
                        </button>
                        <button id="category-filter" style="display: none;background-color: #006A9B !important"  class="my-2 mx-1 btn   btn-info  btn-sm">
                            <a href="#" role="button" title="αφαίρεση κριτηρίου" style="color: #ffffff;text-decoration: none" id="clear-ca-filter">
                                <span id="category-dd-header"></span>
                            </a>
                        </button>
                        <button id="department-filter" style="display: none;background-color: #006A9B !important"  class="my-2 mx-1 btn  btn-info btn-sm">
                            <a href="#" role="button" title="αφαίρεση κριτηρίου" style="color: #ffffff;text-decoration: none" id="clear-dt-filter">
                                <span id="department-dd-header"></span>
                            </a>
                        </button>
                        <button  id="course-filter" style="display: none;background-color: #006A9B !important"  class="my-2 mx-1 btn   btn-info  btn-sm">
                            <a href="#" role="button" title="αφαίρεση κριτηρίου" style="color: #ffffff;text-decoration: none" id="clear-co-filter">
                                <span id="course-dd-header"></span>
                            </a>
                        </button>
                        <button id="staff-filter"  style="display: none;background-color: #006A9B !important"  class="my-2 mx-1  btn   btn-info  btn-sm">
                            <a href="#" role="button" title="αφαίρεση κριτηρίου" style="color: #ffffff;text-decoration: none" id="clear-sm-filter">
                                <span id="staff-dd-header"></span>
                            </a>
                        </button>
                   </div>
        </div>
    </div>
</body>

</html>