<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ΕΚΠΑ :: Μεταδόσεις Διαλέξεων</title>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <!-- CoreUI CSS -->
    <link rel="stylesheet" th:href="@{/lib/coreui41/coreui.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/wcag/wcag.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-css/delos.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/delos/search.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/delos/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/delos/search.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/all.min.css}"/>

    <!-- select2 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2/css/select2.min.css}"/>
    <!-- alertify -->
    <link rel="stylesheet" th:href="@{/lib/alertify/css/alertify.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/alertify/css/themes/bootstrap.min.css}"/>
    <!-- bootstrap date-picker -->
    <link rel="stylesheet" th:href="@{/lib/bootstrap-datepicker/bootstrap-datepicker.min.css}"/>
    <!-- loader -->
    <link rel="stylesheet" th:href="@{/lib/loader/loader.css}"/>

    <!-- fullcalendar -->
     <link rel="stylesheet" th:href="@{/lib/fullcalendar/main.css}"/>
    <style>
        .fc-listMonth-button::before, .fc-listWeek-button::before, .fc-listDay-button::before {
            font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f550";
            margin-right: 5px;
        }
        .fc-dayGridMonth-button::before, .fc-timeGridWeek-button::before, .fc-timeGridDay-button::before {
            font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f073";
            margin-right: 5px;
        }
        .fc-list-day-text {
            color: #006A9B !important;
        }
        .fc-toolbar-title {
            font-size: 1.4em!important;
        }
        .fc-list-event-title {
            font-weight: 500;
        }
        @media (max-width: 767.98px) {
            .fc .fc-toolbar.fc-header-toolbar {
                display: block;
                text-align: center;
                padding-bottom: 5px;
            }

            .fc-header-toolbar .fc-toolbar-chunk {
                display: block;
                padding-bottom: 5px;
            }

        }
        @media (max-width: 768px) {
            .hide-md {
                display: none;
            }
        }
        a {
            text-decoration: none;
        }
    </style>
</head>

<body style="font-size: 0.88em">

<input type="hidden" id="institutionId" th:value="${mInstitution.id}" />
<input type="hidden" id="institutionName" th:value="${institutionName}" />
<input type="hidden" id="view" th:value="${view}"/>

<!-- @thymesVar id="queryString" type="java.lang.String" -->
<input type="hidden" id="queryString"  th:value="${queryString}" />
<input id="departmentFilterId"         type="hidden" th:value="${departmentFilter.id}"/>
<input id="departmentFilterText"       type="hidden" th:value="${departmentFilter.text}"/>
<input id="courseFilterId"             type="hidden" th:value="${courseFilter.id}"/>
<input id="courseFilterText"           type="hidden" th:value="${courseFilter.text}"/>
<input id="staffMemberFilterId"        type="hidden" th:value="${staffMemberFilter.id}"/>
<input id="staffMemberFilterText"      type="hidden" th:value="${staffMemberFilter.text}"/>
<input id="scheduledEventFilterId"     type="hidden" th:value="${scheduledEventFilter.id}"/>
<input id="scheduledEventFilterText"   type="hidden" th:value="${scheduledEventFilter.text}"/>
<input id="classRoomFilterId"          type="hidden" th:value="${classRoomFilter.id}"/>
<input id="classRoomFilterText"        type="hidden" th:value="${classRoomFilter.text}"/>
<input id="start_date"                 type="hidden" th:value="${sd}"/>
<input id="end_date"                   type="hidden"  th:value="${ed}"/>

<div class="wrapper d-flex flex-column min-vh-100"  style="background-color: white">
    <div th:replace="~{elements/a-topnav-41 :: a-topnav}"></div>
    <div class="loading-overlay"></div>
    <div class="loading-overlay-image-container">
        <img th:src="@{/public/images/icons/512px-Loader.gif}" class="loading-overlay-img"/>
    </div>
            <div class="container-lg" style="margin-top: 60px">
                <!-- Upper logo -->
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-0" style="border: none">
                            <div class="card-header px-0" style="background-color: white;border: none">
                                <h5><span class="icon-live-lecture" style="color: rgb(179,0,110)!important;;font-size: 1.5em"></span> ΜΕΤΑΔΟΣΕΙΣ ΔΙΑΛΕΞΕΩΝ</h5>
                            </div>
                        </div>
                        <hr class="float-left my-1" style="border-top: rgb(179,0,110) 3px solid;width: 100%"/>
                    </div>
                </div>
                <!-- bradcrumb -->
                <div class="row mt-0">
                    <div class="col-12">
                        <div class="subheader px-1">
                            <ol class="breadcrumb border-0 m-0">
                                <li class="breadcrumb-item">
                                    <a   class="blue-link-wcag-color" th:href="@{/}">Αρχική</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a  class="blue-link-wcag-color" th:href="@{/list}">Ζωντανές Μεταδόσεις</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Ημερολόγιο Μεταδόσεων
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
<!--                <div>
                    Ακολουθεί το αναλυτικό πρόγραμμα των ζωντανών μεταδόσεων. Μπορείτε να προβάλλετε το πρόγραμμα ανά Μήνα, Εβδομάδα ή Ημέρα
                </div>-->
                <div class="row mt-0">
                        <!-- Results+Refresh Row -->
                        <div class="card mb-0" style="border: none">
                            <div class="container mt-3" style="display: none">
                                <div th:insert="~{fragments/calendar/calendar-search-bar :: calendar-search-bar}">Search Bar</div>
                            </div>
                            <div class="card-body pb-0 px-0">
                                <div class="row my-1">
                                    <span th:replace="~{fragments/search-common/ontop-dyna-filters :: ontop-dyna-filters}"></span>
                                    <div th:replace="~{fragments/search-common/ontop-applied-filters :: ontop-applied-filters}">Applied Filters</div>
                                </div>
                                <div class="row mt-0">
                                    <div class="col-12">
                                            <span class="float-end" style="font-size: 0.8em">
                                                    <i class="fas fa-circle" style="color:royalblue"></i> Προγραμματισμένη Διάλεξη
                                                    <i class="fas fa-circle" style="color:rgb(255, 178, 102)"></i> Έκτακτη Διάλεξη
                                            </span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-12 mb-3">
                                        <div id='calendar'></div>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-12 mb-3">
                                       * σύρετε το δείκτη του ποντικιού πάνω από κάθε καταχώρηση για να εμφανίσετε περισσότερες λεπτομέρειες
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div th:replace="~{fragments/footer-411 :: footer}">Footer</div>
</div>

<div th:replace="~{modals/about-modal :: #about_modal}"></div>
<div th:replace="~{modals/terms-modal :: #terms_modal}"></div>
<div th:replace="~{modals/faq-modal :: #faq_modal}"></div>
<div th:replace="~{modals/contact-modal :: #contact_modal}"></div>

<!-- Optional JavaScript -->
<script th:src="@{/css/jquery-3.5.1/jquery-3.5.1.js}" type="application/javascript"></script>
<script th:src="@{/lib/coreui41/coreui.bundle.min.js}"></script>

<!-- select2 -->
<script th:src="@{/css/select2/js/select2.js}" type="application/javascript"></script>

<!-- alertify -->
<script th:src="@{/lib/alertify/alertify.min.js}"></script>

<script th:src="@{/js/fullcalendar/dashboard.js}" type="application/javascript"></script>
<script th:src="@{/js/fullcalendar/dashboard.system.js}" type="application/javascript"></script>
<script th:src="@{/js/fullcalendar/dashboard.calendar.js}" type="application/javascript"></script>
<script th:src="@{/js/fullcalendar/dashboard.department.js}" type="application/javascript"></script>
<script th:src="@{/js/fullcalendar/dashboard.classroom.js}" type="application/javascript"></script>
<script th:src="@{/js/fullcalendar/dashboard.course.js}" type="application/javascript"></script>
<script th:src="@{/js/fullcalendar/dashboard.sevents.js}" type="application/javascript"></script>
<script th:src="@{/js/fullcalendar/dashboard.staffmembers.js}" type="application/javascript"></script>



<script th:src="@{/css/moment/moment.min.js}" type="text/javascript" ></script>
<script th:src="@{/css/moment/en-gb.js}" type="text/javascript" ></script>
<script th:src="@{/css/moment/el.js}" type="text/javascript" ></script>

<!-- bootstrap datepicker -->
<script th:src="@{/lib/bootstrap-datepicker/bootstrap-datepicker.min.js}" type="application/javascript"></script>
<script th:src="@{/lib/bootstrap-datepicker/bootstrap-datepicker.el.min.js}" type="application/javascript"></script>
<!-- loader -->
<script th:src="@{/lib/loader/loader.js}"></script>
<!-- fullcalendar -->
 <script th:src="@{/lib/fullcalendar/main.js}"></script>
<script th:src="@{/lib/fullcalendar/locales/el.js}"></script>

<script>
    function filterFunction() {
        let input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        let div = document.getElementById("classroom-filter");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            let txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>
</body>
</html>