<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="">
<head>
    <meta charset="UTF-8">
    <title>OpenDelos Live</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/front-page.css}"/>
    <link rel="shortcut icon" th:href="@{/public/images/icons/delos.ico}">
    <link rel="stylesheet" th:href="@{/lib/coreui/coreui.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/coreui/free.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/wcag/wcag.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-css/delos.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/delos/search.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/all.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/select2/css/select2.min.css}"/>
    <!-- alertify -->
    <link rel="stylesheet" th:href="@{/lib/alertify/css/alertify.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/alertify/css/themes/semantic.min.css}"/>
</head>

<body>
<div class="wrapper d-flex flex-column min-vh-100" style="background-color: white">

            <div class="container">
                <!-- Sign In -->
                <div class="row mt-2" >
                    <div class="col-12 text-right mb-1">
                         <th:block sec:authorize="isAuthenticated()">
                                     <a class="blue-link-wcag-color" th:href="@{/admin/user_profile}" title="προφίλ">
                                         <i class="fas fa-user fa-lg mr-1" style="vertical-align:middle"></i><span sec:authentication="name"></span>
                                     </a>
                                    &nbsp;|&nbsp;
                                    <a class="blue-link-wcag-color" href="#" title="logout" data-toggle="modal" data-target="#logout_modal">
                                        <span class="icon-main-menu-logout blue-link-wcag-color" style="vertical-align:middle"> Αποσύνδεση</span>
                                    </a>
                         </th:block>
                    </div>
                </div>

            </div>

            <!-- Content -->
            <div class="row">
                <div class="col-12" id="content">
                    <!-- Upper Logo -->
                    <div class="row justify-content-center">
                        <div class="col-4 text-right main-logo" style="border-right: #ccc 1px solid">
                            <div th:with="uid=#{institution.identity}">
                                <img th:alt="#{default.institution.title}" th:src="@{'/public/images/logos/' + ${uid} + '.png'}" alt="" src="" style="height: 120px">
                            </div>
                        </div>
                        <div class="col-6" id="main-title">
                            <div>διαχείριση
                                <br/>πολυμεσικού περιεχομένου & μεταδόσεων
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container text-center mt-2" style="background-color: white;">
                <div class="card mb-3">
                    <div class="card-body">
                        <div>
                            <div style="font-size: 1.2em">
                             Αναρτήστε μαγνητοσκοπημένο περιεχόμενο και προγραμματίστε τη ζωντανή μετάδοση και καταγραφή του μαθήματος ή της εκδήλωσή σας.<br/>
                             Η υπηρεσία απευθύνεται στο διδακτικό, το ερευνητικό προσωπικό και τους διαχειριστές περιεχομένου του Ιδρύματος
                            </div>
                        </div>
                    </div>
                </div>
                <th:block sec:authorize="isAnonymous()">

                    <!-- SSO LOGIN -->
                    <div class="card" id="main_login_panel">
                        <div class="card-header text-center" style="font-weight: 500;font-size: 1.2em">
                            Σύνδεση Χρηστών
                        </div>
                        <div class="card-body text-center text-high-emphasis">
                            <p>Πατήστε "Είσοδος" για να συνδεθείτε χρησιμοποιώντας το λογαριασμός σας στο Ίδρυμα</p>
                            <p>
                                <a th:href="@{/cas/login_cas}" role="button" class="btn btn-primary blue-btn-wcag-bgnd-color mt-3">
                                    <span class="icon-main-menu-login"></span> Είσοδος
                                </a>
                            </p>
                        </div>
                        <div class="card-footer">
                            <span class="text-muted" style="font-size: 0.9em">-- ΜΟΝΟ ΓΙΑ ΔΙΑΧΕΙΡΙΣΤΕΣ ΠΕΡΙΕΧΟΜΕΝΟΥ --</span>
                            <br>Αν έχετε ξεχωριστό λογαριασμό για την υπηρεσία <a href="#" id="alt_login">πατήστε εδώ</a>

                        </div>
                    </div>

                    <!-- USERNAME+PASSWORD LOGIN -->
                    <div class="card" id="alt_login_panel" style="display: none">
                        <div class="card-header text-center" style="font-weight: 500;font-size: 1.2em">
                            Είσοδος με λογαριασμό Υπηρεσίας
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <form th:action="@{/}" method="post">
                                        <label for="username">Όνομα Χρήστη:</label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="fas fa-user"></i></div>
                                            <input type="text" class="form-control" id="username" name="username">
                                        </div>
                                        <label class="mt-1" for="password">Κωδικός Πρόσβασης:</label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="fas fa-key"></i></div>
                                            <input type="password" class="form-control" id="password" name="password">
                                        </div>
                                        <div class="form-check text-left my-3" style="padding-left: 0!important;">
                                            <input type="checkbox" class="form-check-inline" name="remember-me" id="remember-me">
                                            <label class="form-check-label" for="remember-me">
                                                Να με θυμάσαι
                                            </label>
                                        </div>

                                        <div>
                                            <button class="btn btn-outline-primary blue-link-wcag-color" type="submit">
                                                <span class="fas fa-sign-in-alt"></span> Είσοδος
                                            </button>
                                        </div>
                                        <div th:if="${param.error}" class="alert-danger mt-2">
                                            Λάθος όνομα χρήστη ή κωδικού πρόσβασης
                                        </div>
                                        <div th:if="${param.logout}">
                                            You have been logged out.
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                           Για είσοδο με λογαριασμό Ιδρύματος <a href="#" id="main_login">πατήστε εδώ</a>
                        </div>
                    </div>
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_SA') || hasRole('ROLE_MANAGER') || hasRole('ROLE_SUPPORT')  || hasRole('ROLE_STAFFMEMBER')">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center" style="font-size: 1.2em">
                                    <a class="blue-link-wcag-color" th:href="@{/admin}" title="dashboard">
                                        <i class="fas fa-door-open fa-2x"></i> <br/>Είσοδος στο Διαχειριστικό Περιβάλλον
                                    </a>
                                </div>
                            </div>
                        </div>
                </th:block>
            </div>

            <div class="container" style="margin-top: 60px">
                <h6 class="mb-4" style="font-size: 1.1em"><i class="fas fa-link me-2"></i> Σύνδεσμοι<br/>
                    <span class="text-muted" style="font-size: 0.9em;font-weight: 400">Επισκεφτείτε τους ιστότοπους περιεχομένου</span>
                </h6>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="card mb-3">
                            <div class="card-body p-0">
                                <div style="font-size: 1.2em">
                                    <a href="https://dimos.med.uoa.gr/vod" style="color: #006A9B" target="_blank">
                                        <span class="icon-on-demand" style="color: #006A9B"></span> ΕΚΠΑ
                                        <b>ΔΙΑΛΕΞΕΙΣ</b>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer" style="background-color: white">
                                Αναζητήστε & προβάλετε μαγνητοσκοπημένες διαλέξεις, καταγεγραμμένες από την εκπαιδευτική διαδικασία του Ιδρύματος<br/>
                                <span class="text-muted">Το περιεχόμενο είναι δημόσιο και η πρόσβαση είναι ελεύθερη σε όλους</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card mb-3">
                            <div class="card-body p-0">
                                <div style="font-size: 1.2em">
                                    <a href="https://dimos.med.uoa.gr/events" style="color: #006A9B" target="_blank">
                                        <span class="fas fa-circle" style="color: darkorange"></span> ΕΚΠΑ
                                        <b>ΕΚΔΗΛΩΣΕΙΣ</b>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer" style="background-color: white">
                                Παρακολουθείστε ζωντανά & προβάλετε μαγνητοσκοπημένο περιεχόμενο από τις δράσεις και τις εκδηλώσεις του Ιδρύματος<br/>
                                <span class="text-muted">Το περιεχόμενο είναι δημόσιο και η πρόσβαση είναι ελεύθερη σε όλους</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card mb-3">
                            <div class="card-body p-0">
                                <div style="font-size: 1.2em">
                                    <a href="https://dimos.med.uoa.gr/live" style="color: #006A9B" target="_blank">
                                        <span class="icon-live-lecture" style="color: darkred"></span> ΕΚΠΑ
                                        <b>ΜΕΤΑΔΟΣΕΙΣ ΔΙΑΛΕΞΕΩΝ</b>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer" style="background-color: white">
                                Παρακολουθείστε ζωντανά διαλέξεις από τις αίθουσες διδασκαλίας του ιδρύματος<br/>
                                <span class="text-muted">Ελεύθερο αλλά και περιορισμένης πρόσβασης περιεχόμενο. Η υπηρεσία απευθύνεται πρωτίστως στους φοιτητές του Ιδρύματος</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center">
                    <img   alt="opendelos" th:src="@{'/public/images/logos/byOpenDelos.png'}" src="">
                </div>
            </div>


</div>


<div th:replace="~{modals/logout_modal :: #logout_modal}"></div>

<div th:replace="~{modals/about-modal :: #about_modal}"></div>
<div th:replace="~{modals/terms-modal :: #terms_modal}"></div>
<div th:replace="~{modals/faq-modal :: #faq_modal}"></div>
<div th:replace="~{modals/contact-modal :: #contact_modal}"></div>


<script th:src="@{/css/jquery-3.5.1/jquery-3.5.1.js}" type="application/javascript"></script>
<script th:src="@{/lib/coreui/coreui.bundle.min.js}"></script>
<script th:src="@{/lib/coreui/coreui-utilities.min.js}"></script>

<script>
    $("#alt_login").on('click',function(e){
        $("#main_login_panel").hide();
        $("#alt_login_panel").show();
        e.preventDefault();
    });
    $("#main_login").on('click',function(e){
        $("#main_login_panel").show();
        $("#alt_login_panel").hide();
        e.preventDefault();
    });
</script>

</body>
</html>