<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--@thymesVar id="ccLicense" type="org.opendelos.model.common.CcLicense"-->
<!--@thymesVar id="resource" type="org.opendelos.model.resources.Resource"-->
<div th:fragment="u-videoplayer">
    <div id="video_cont" class="p-0 m-0 demo-content">
        <video id='player' controls preload="auto" autoplay controlsList='nodownload' width="400px">
        </video>
    </div>
        <div class="video-controls demo-content">
            <div id="channel_overlay" style="visibility:hidden"></div>
            <div class="mt-1 mb-2" style="font-style:italic;font-size: small">
                <a class="text-muted" th:href="${ccLicense.getUrl()}" target="_blank" style="text-decoration: none;font-size: 0.8em">
                    <img th:src="${ccLicense.image_url}" alt="" width="48px" class="mr-2"/>
                        Άδεια Χρήσης: <span th:text="${ccLicense.title}" style="color: #0b6da8"></span>
                </a>
            </div>
        </div>
 </div>
</body>
</html>