<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<div th:fragment="resource-form">
    <!--@thymesVar id="msg_val" type="java.lang.String"-->
    <input type="hidden" id="msg_val" th:value="${msg_val}"/>
    <!--@thymesVar id="msg_type" type="java.lang.String"-->
    <input type="hidden" id="msg_type" th:value="${msg_type}"/>
    <!--@thymesVar id="ayCurr" type="java.lang.String"-->
    <!--@thymesVar id="editorId" type="java.lang.String"-->
    <!--@thymesVar id="streamingBaseUrl" type="java.lang.String"-->
    <!--@thymesVar id="mediaBaseUrl" type="java.lang.String"-->
    <!--@thymesVar id="inclMultimedia" type="java.lang.String"-->
    <!--@thymesVar id="inclPresentation" type="java.lang.String"-->
    <!--@thymesVar id="media_folder" type="java.lang.String"-->
    <!--@thymesVar id="video_folder" type="java.lang.String"-->
    <input type="hidden" id="ayCurr"            th:value="${ayCurr}"/>
    <input type="hidden" id="editor_id"         th:value="${editorId}"/>
    <input type="hidden" id="streamingBaseUrl"  th:value="${streamingBaseUrl}"/>
    <input type="hidden" id="mediaBaseUrl"      th:value="${mediaBaseUrl}"/>
    <input type="hidden" id="media_folder"      th:value="${media_folder}"/>
    <input type="hidden" id="video_folder"      th:value="${video_folder}"/>
    <input type="hidden" id="type"              th:value="${Resource.type}"/>

    <input id="nocs" type="hidden"/>
    <!--@thymesVar id="pageSelect" type="java.lang.String"-->
    <!--@thymesVar id="Resource" type="org.opendelos.model.resources.Resource"-->
    <form id="lecture-form" th:object="${Resource}" th:action="@{ ${pageSelect} + '-editor'}" method="post">
        <input type="hidden" id="accessPolicy"      th:field="*{accessPolicy}" />
        <!-- Resource Form -->
        <div class="card mt-2">
            <div class="card-header">
                                 <span style="font-size: 1.2em;font-weight: 100">
                                     <i class="fas fa-edit"></i> Επεξεργασία
                                     <span th:if="${Resource.type == 'COURSE'}"> Διάλεξης</span>
                                     <span th:unless="${Resource.type == 'COURSE'}"> Πολυμέσου Εκδήλωσης</span>
                                 </span>
                                <span class="float-end">
                                    <a role="button" data-toggle="tooltip" title="Επιστροφή στα αποτελέσματα αναζήτησης" class="btn btn-secondary" th:href="${user_search_history}">
                                        <i class="fas fa-undo"></i> Επιστροφή
                                    </a>
                                    <button type="submit" data-toggle="tooltip" title="Αποθήκευση Καταχώρησης" class="btn btn-primary submit_form blue-btn-wcag-bgnd-color" id="save-button">
                                        <i class="fas fa-save"></i> Αποθήκευση
                                    </button>
                                     <span th:if="${Resource.id != null}">
                                        <button type="submit" data-toggle="tooltip" title="Δημιουργία νέας Καταχώρησης με αντιγραφή στοιχείων" class="btn btn-pill btn-warning" id="copy-button">
                                                        <i class="far fa-clone"></i>
                                        </button>
                                     </span>

                                      <span th:if="${Resource.status != null && Resource.status.inclMultimedia == 1}">
                                                   <a target="_blank" data-toggle="tooltip"  role="button" th:href="@{'/player?id=' + ${Resource.id}}" class="btn btn-light"
                                                   title="Αναπαραγωγή σε νέο παράθυρο περιηγητή">
                                                        <i class="fas fa-play"></i><span> Αναπαραγωγή</span>
                                                   </a>
                                    </span>
                                    <span th:unless="${Resource.status.inclMultimedia == 1}" data-toggle="tooltip" title="απενεργοποιημένo: δεν βρέθηκαν πολυμέσα">
                                        <button id="play-d" class="btn btn-light" disabled>
                                            <i class="fas fa-play"></i><span> Αναπαραγωγή</span>
                                        </button>
                                    </span>
                                    <span class="ml-1">
                                         <button  data-toggle="tooltip"  title="Διαγραφή Καταχώρησης" id="delete-button" class="btn btn-danger" disabled>
                                            <i class="fas fa-trash"></i>
                                        </button>
                                     </span>

                                 </span>
            </div>
            <div class="card-body">
                <input type="hidden" id="rid"  th:field="*{id}" />
                <input type="hidden" id="inclMultimedia"    th:field="*{status.inclMultimedia}"/>
                <input type="hidden" id="inclPresentation"  th:field="*{status.inclPresentation}"/>
                <!-- HEADER -->
                <div class="row">
                    <div class="col-12">
                        <th:block th:unless="${Resource.id == null || Resource.id == ''}">
                            <h5>
                                <span th:text="${Resource.title}"></span>
                                <th:bock th:if="${Resource.partNumber != 0}">
                                    <span th:text="${' / Μέρος ' + Resource.partNumber}"></span>
                                </th:bock>
                            </h5>
                            <p class="mt-2 text-medium-emphasis" style="font-size: 0.9em">
                                <span class="mt-1" th:text="${'Ημερ. καταγραφής: '}"></span>
                                <span class="mt-1 text-high-emphasis" th:include="fragments/format-resource-date.html:: formatDate(field=${Resource.date})"></span>
                                <span class=" mt-1" th:text="${' | Ενημέρωση: '}"></span>
                                <span class="mt-1 text-high-emphasis"  th:include="fragments/format-resource-date.html:: formatDate(field=${Resource.dateModified})"></span>
                                <span class="mt-1 text-high-emphasis"  th:include="fragments/format-resource-date.html:: formatDateTime(field=${Resource.dateModified})"></span>
                                <span class=" mt-1" th:text="${' | Επεξεργασία: '}"></span>
                                <span th:unless="${Resource.id == null || Resource.id == ''}" class="text-high-emphasis" th:text="${Resource.editor.name}"></span>
                            </p>
                        </th:block>
                        <th:block th:if="${Resource.id == null || Resource.id == ''}">
                            <h5>
                                <span>[Τίτλος]</span>
                            </h5>
                            <p class="m-1">
                                <!--@thymesVar id="user" type="org.opendelos.model.users.OoUserDetails"-->
                                <span class="text-medium-emphasis mt-1" th:text="${'Επεξεργασία: '}"></span>
                                <span th:text="${user.name}"></span>
                            </p>
                        </th:block>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12 text-end">
                        <span data-toggle="tooltip" title="Κατάσταση καταχώρησης: Δημοσιοποίηση ή Απόσυρση καταχώρησης">
                        <label for="publication_toggle" class="col-form-label text-end" style="font-weight: 600">Κατάσταση</label>
                        <input id="publication_toggle" type="checkbox"/>
                        </span>
                    </div>
                </div>
                <!-- Content : TABS -->
                 <div class="row">
                        <div class="col-12 mt-0">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link my-nav active me-2" id="home-tab" data-coreui-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                        <i class="fas fa-info me-1"></i> <span th:if="${Resource.type == 'COURSE'}">Στοιχεία Διάλεξης</span>
                                        <span th:unless="${Resource.type == 'COURSE'}">Στοιχεία Πολυμέσου</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  my-nav me-2" id="video-tab" data-coreui-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="false">
                                        <i class="fas fa-video me-1"></i> Πολυμέσα</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  my-nav me-2" id="presentation-tab" data-coreui-toggle="tab" href="#presentation" role="tab" aria-controls="presentation" aria-selected="false">
                                        <i class="icon-presentation me-1"></i> Παρουσίαση</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  my-nav me-2" id="other-tab" data-coreui-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false">
                                        <i class="fas fa-info-circle me-1"></i> Επιπλέον Πληροφορίες</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  my-nav me-2" id="tags-tab" data-coreui-toggle="tab" href="#tags" role="tab" aria-controls="tags" aria-selected="false">
                                        <i class="fas fa-tags me-1"></i> Ετικέτες Διαχειριστή</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                <!-- Tab content -->
                 <div class="row">
                        <div class="col-12 mt-2">
                            <div class="tab-content">
                                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="card ps-2 mb-1" style="background-color: #f7f7f9" >
                                        <div class="form-group row mt-3">
                                            <label for="resource_title" class="col-sm-3  col-form-label emph-label">Τίτλος*</label>
                                            <div class="col-sm-4">
                                                <input type="text" id="resource_title" class="form-control" th:field="*{title}" placeholder="πληκτρολογήστε έναν τίτλο"/>
                                                <div class="form-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect title</div>
                                            </div>
                                        </div>
                                        <!-- COURSE -->
                                        <th:block th:unless="${Resource.type == 'EVENT'}">
                                            <div class="form-group row mt-2">
                                                <input type="hidden" id="course_id" th:field="*{course.id}"/>
                                                <label for="courses_s2" class="col-sm-3 col-form-label emph-label">Μάθημα*</label>
                                                <div class="col-sm-4 pr-1">
                                                    <select id="courses_s2" style="width: 100%" class="form-control js-courses-tags reset_control" >
                                                        <option value=""></option>
                                                    </select>
                                                    <div class="form-error" th:if="${#fields.hasErrors('course.id')}" th:errors="*{course.id}">Incorrect Course</div>
                                                </div>
                                                <div class="col-sm-2 ps-0">
                                                    <button type="button" class="btn btn-sm blue-btn-wcag-bgnd-color text-white"
                                                            data-toggle="tooltip" title="εμφάνιση περισσότερων στοιχείων για το επιλεγμένο Μάθημα" data-coreui-toggle="modal"
                                                            data-coreui-target="#CourseInfoModal"><i class="far fa-window-restore"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- Supervisor -->
                                            <div class="form-group row mt-2">
                                                <input type="hidden" id="supervisor_id" th:field="*{supervisor.id}"/>
                                                <label for="supervisor_s2" class="col-sm-3 col-form-label emph-label">Διδάσκων*</label>
                                                <div class="col-sm-4">
                                                    <select id="supervisor_s2" style="width: 100%"
                                                            class="form-control js-staffMembers-tags reset_control">
                                                        <option value=""></option>
                                                    </select>
                                                    <div class="form-error" th:if="${#fields.hasErrors('supervisor.id')}" th:errors="*{supervisor.id}">Incorrect Supervisor</div>
                                                </div>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${Resource.type == 'EVENT'}">
                                            <div class="form-group row mt-2">
                                                <input type="hidden" id="event_id" th:field="*{event.id}"/>
                                                <label for="events_s2" class="col-sm-3 col-form-label emph-label">Εκδήλωση*</label>
                                                <div class="col-sm-4 pr">
                                                    <select id="events_s2" style="width: 100%" class="form-control js-events-tags reset_control" >
                                                        <option value=""></option>
                                                    </select>
                                                    <div class="form-error" th:if="${#fields.hasErrors('event.id')}" th:errors="*{event.id}">Incorrect Event</div>
                                                </div>
                                                <div class="col-sm-2 ps-0">
                                                    <button type="button" class="btn btn-sm blue-btn-wcag-bgnd-color text-white"
                                                            title="εμφάνιση περισσότερων στοιχείων για την επιλεγμένη Εκδήλωση" data-coreui-toggle="modal"
                                                            data-coreui-target="#ScheduledEventInfoModal"><i class="far fa-window-restore"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </th:block>
                                        <!-- PART NUMBER -->
                                        <div class="form-group row mt-2">
                                            <label for="resource_partNumber" class="col-sm-3  col-form-label">Μέρος Σειράς</label>
                                            <input id="sl1-enabled" checked th:field="*{parts}" type="hidden" />
                                            <div class="col-sm-2 form-in">
                                               <input type="number" id="resource_partNumber" value="0" min="0" max="50" step="1" th:field="*{partNumber}"/>
                                            </div>
                                            <div class="col-sm-2">
                                               <span th:if="${Resource.id != null && Resource.parts == true}">
                                                    <button type="submit" data-toggle="tooltip" title="Δημιουργία ΝΕΑΣ καταχώρησης στην ΙΔΙΑ σειρά διαλέξεων (Μέρος max+1) με αντιγραφή στοιχείων" class="btn btn-pill btn-warning" id="clone-button">
                                                    <i class="fas fa-plus"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- DATE - TIME -->
                                        <div class="form-group row mt-2">
                                            <label for="_date_part" class="col-sm-3  col-form-label emph-label">Ημερομηνία*</label>
                                            <div class="col-sm-2">
                                                <div class="input-group date">
                                                        <span class="input-group-addon input-group-text">
                                                            <i class="fas fa-calendar-alt"></i>
                                                        </span>
                                                        <input type="text" class="form-control" value="" id="_date_part" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="resource_hour" class="col-sm-3  col-form-label emph-label">Ώρα*</label>
                                            <div class="col-sm-3">
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                                        <select id="resource_hour" style="width: 75px">
                                                            <th:block th:each="i: ${#numbers.sequence(0, 23)}">"
                                                                <option th:if="${i<10}" th:value="${i}" th:text="${'0' + i}"></option>
                                                                <option th:unless="${i<10}" th:value="${i}" th:text="${i}"></option>
                                                            </th:block>
                                                        </select>
                                                        <span class="input-group-text"><i class="fas fa-ellipsis-v"></i></span>
                                                        <select id="resource_minutes" style="width: 75px">
                                                            <th:block th:each="i: ${#numbers.sequence(0, 59)}">"
                                                                <option th:if="${i<10}" th:value="${i}" th:text="${'0' + i}"></option>
                                                                <option th:unless="${i<10}" th:value="${i}" th:text="${i}"></option>
                                                            </th:block>
                                                        </select>
                                                    </div>
                                                    <input type="hidden" class="form-control" aria-label="" id="_date" th:field="*{date}"/>

                                                </div>
                                        </div>
                                        <th:block th:unless="${Resource.type == 'EVENT'}">
                                            <!--@thymesVar id="catList" type="java.util.HashMap<String, List<String>"-->
                                            <div class="form-group row mt-2">
                                                <label for="event_cats" class="col-sm-3 col-form-label emph-label">Θεματικές Περιοχές*</label>
                                                <div class="col-sm-4">
                                                    <select id="event_cats" style="width: 100%" class="form-control js-category-tags" multiple="multiple" th:field="*{categories}">
                                                        <optgroup th:each="cheader:${catList}" th:label="${#strings.listSplit(cheader.key,'::')[1]}" label="">
                                                            <option th:each="cat:${cheader.value}" th:value="${#strings.listSplit(cat,'::')[0]}" th:text="${#strings.listSplit(cat,'::')[1]}">
                                                            </option>
                                                        </optgroup>
                                                    </select>
                                                    <div class="form-error" th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}">Incorrect Categories</div>
                                                </div>
                                                <div class="col-sm-2 ps-0">
                                                    <button  data-toggle="tooltip" type="button" id="categories_sync" class="btn btn-sm blue-btn-wcag-bgnd-color text-white" style="color: #006A9B" title="Συγχρονισμός με τις Θεματικές Περιοχές του Μαθήματος (σημ: εφόσον έχουν δηλωθεί)">
                                                        <i class="fas fa-sync"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </th:block>
                                        <th:block th:unless="${Resource.type == 'EVENT'}">
                                            <div class="form-group row mt-4">
                                                <label class="col-sm-3  col-form-label emph-label"></label>
                                                <div class="col-sm-7">
                                                     <span class="text-high-emphasis">
                                                         Η Περίοδος και το Ακαδημαϊκό Έτος, υπολογίζονται αυτόματα από την τρέχουσα ημερομηνία και το Τμήμα του επιλεγμένου Μαθήματος.<br/>
                                                         Τροποποιήστε μόνο αν προγραμματίζετε μετάδοση για άλλη περίοδο
                                                     </span>
                                                </div>
                                            </div>
                                            <!-- PERIOD -->
                                            <!--@thymesVar id="pdList" type="java.util.HashMap<String,String>"-->
                                            <div class="form-group row mt-2">
                                                <label for="resource_pd" class="col-sm-3  col-form-label emph-label">Περίοδος*</label>
                                                <div class="col-sm-3">
                                                    <select id="resource_pd" class="custom-select form-control" th:field="*{period}">
                                                        <option th:each="period: ${pdList}" th:value="${period.key}" th:text="${period.value}"></option>
                                                    </select>
                                                    <div class="form-error" th:if="${#fields.hasErrors('period')}" th:errors="*{period}">Incorrect title</div>
                                                </div>
                                            </div>
                                        </th:block>
                                        <!-- ACADEMIC YeAR -->
                                        <!--@thymesVar id="ayList" type="java.util.List"-->
                                        <!--@thymesVar id="ayListText" type="java.util.List"-->
                                        <div class="form-group row mt-2 mb-2">
                                            <label for="resource_ay" class="col-sm-3  col-form-label emph-label">Ακαδημαϊκό Έτος*</label>
                                            <div class="col-sm-3">
                                                <select id="resource_ay" class="custom-select form-control" th:field="*{academicYear}">
                                                    <option value=""></option>
                                                    <option th:each="i, iter : ${ayList}" th:value="${i}" th:text="${ayListText[iter.index]}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- VIDEO TAB -->
                                <div class="tab-pane" id="video" role="tabpanel" aria-labelledby="video-tab">
                                    <div class="card-header" style="background-color: #f7f7f9" >
                                        <input type="hidden" id="mm_UploadAction" value="_NONE">
                                        <input type="hidden" id="mm_UploadData" value="">

                                        <div class="row save_warning">
                                            <div class="col-12 text-center">
                                              <span class="text-medium-emphasis" style="font-weight: 500">
                                               <i class="far fa-question-circle"></i> Αποθηκεύστε την καταχώρηση για να εμφανιστούν οι επιλογές Παρουσίασης
                                              </span>
                                            </div>
                                        </div>
                                        <div id="mm_outer_upload_container" class="form-group row">
                                            <label for="mm_dropArea" class="col-sm-3 col-form-label"></label>
                                            <div class="col-sm-12">
                                                <div class="uploadWrapper">
                                                    <div id="mm_dropArea" class="p-3 dropsq text-medium-emphasis" style="border: #cccccc 1px dashed">
                                                        Για να "ανεβάσετε" ένα βίντεο, σύρτε το αρχείο εδώ ή πατήστε 'Επιλέξτε Αρχείο'
                                                    </div>
                                                </div>
                                                <div id="video_progress_panel" style="display: none">
                                                    <div class="progress mt-3" style="border: blue 1px dotted">
                                                        <div class="progress-bar progress-bar-success" id="mm_progress_bar"
                                                             role="progressbar"
                                                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                    <div style="background-color: white;font-style: italic">
                                                                <span id="mm_statusMessage" style="font-size:0.9em">
                                                                   μεταφόρτωση: έτοιμο
                                                                </span>
                                                    </div>
                                                </div>
                                                <div class="my-3">
                                                    <div class="form-group" id="mm_upload_container"></div>
                                                    <div id="mm_fileList">
                                                        <small>Error: No runtime found!</small>
                                                    </div>
                                                    <button id="mm_BrowseFileButton" type="button" class="btn btn-light">
                                                        <i class="fas fa-file-video"></i><span> Επιλέξτε Αρχείο*...</span>
                                                    </button>
                                                    <button id="mm_CancelUploadButton" type="button" class="btn btn-brand btn-danger">
                                                        <i class="fas fa-ban"></i><span> Ακύρωση</span>
                                                    </button>
                                                </div>
                                                <pre id="mm_uploadlog" style="height: 300px; overflow: auto"></pre>
                                                <div class="mt-4" style="font-style: italic;font-size: 0.9em">
                                                    * αποδεκτοί τύποι αρχείων: Αρχεία Βίντεο MPEG4 (mp4)
                                                </div>
                                            </div>
                                        </div>
                                        <div id="player_container" style="display: none">
                                            <div class="form-group row">
                                                <div class="col-12 mt-2 text-end">
                                                    <a target="_blank" download id="download_video_link" title="κατεβάστε το βίντεο σε  αρχείο στον υπολογιστή σας" role="button"
                                                       class="btn btn-sm btn-light" href="#">
                                                        <i class="fas fa-download"></i><span> Εξαγωγή αρχείου</span>
                                                    </a>
                                                    <th:block th:if="${Resource.rteStatus != null && Resource.rteStatus.status == 'DARE'}">
                                                        <a role="button"  title="εκκρεμεί αποδοχή/απόρριψη κοπής" th:href="@{/admin/video-editor(id=${Resource.id})}"
                                                             class="btn btn-sm btn-warning edit_video_link">
                                                             <i class="far fa-edit"></i><span> Επεξεργασία βίντεο</span>
                                                        </a>
                                                    </th:block>
                                                    <th:block th:unless="${Resource.rteStatus != null && Resource.rteStatus.status == 'DARE'}">
                                                        <a role="button" title="επεξεργασία" th:href="@{/admin/video-editor(id=${Resource.id})}"
                                                           class="btn btn-sm btn-light edit_video_link">
                                                            <i class="far fa-edit"></i><span> Επεξεργασία βίντεο</span>
                                                        </a>
                                                    </th:block>

                                                    <th:block th:if="${Resource.accessPolicy == 'private'}">
                                                        <button class="btn btn-sm btn-light" title="διαγράψτε το βίντεο" id="mm_delete">
                                                            <i class="fas fa-trash" style="color: red"></i><span> Διαγραφή αρχείου</span>
                                                        </button>
                                                    </th:block>
                                                    <th:block th:unless="${Resource.accessPolicy == 'private'}">
                                                        <button class="btn btn-sm btn-light" title="διαγράψτε το βίντεο" disabled="disabled">
                                                            <i class="fas fa-trash" style="color: red"></i><span> Διαγραφή αρχείου</span>
                                                        </button>
                                                    </th:block>
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="form-group row mt-4">
                                                <div class="col"></div>
                                                <div class="col-6 justify-content-center">
                                                    <video id='player' controls preload="auto"  controlsList="nodownload" style="max-width: 600px;width: 100%;border: #b2b8c1 3px solid">
                                                        <source id='mp4'  src="" type='video/mp4'>
                                                        <source id='webm' src="" type='video/webm'>
                                                    </video>
                                                </div>
                                                <div class="col"></div>
                                            </div>
                                            <!-- LICENSE -->
                                            <div class="form-group row mt-4">
                                                <!--@thymesVar id="licenseList" type="java.util.ArrayList"-->
                                                <label for="resource_license" class="col-sm-3 col-form-label">Άδεια Χρήσης*</label>
                                                <div class="col-sm-4">
                                                    <select id="resource_license" class="custom-select form-control" th:field="*{license}" style="width: 100%">
                                                        <option value=""></option>
                                                        <option th:each="license:${licenseList}" th:value="${license}" th:text="#{${license}}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- LANGUAGE -->
                                            <div class="form-group row mt-2">
                                                <!--@thymesVar id="langList" type="java.util.ArrayList"-->
                                                <label for="resource_languaqe" class="col-sm-3 col-form-label">Γλώσσα*</label>
                                                <div class="col-sm-4">
                                                    <select id="resource_languaqe" class="custom-select" th:field="*{language}" style="width: 100%">
                                                        <option th:each="lang:${langList}" th:value="${lang}" th:text="#{${lang}}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- OVERLAY -->
                                            <div class="form-group row mt-2">
                                                <label for="playerOptions_overlay_toggle" class="col-sm-3 col-form-label">Εμφάνιση Λεζάντας</label>
                                                <div class="col-sm-7">
                                                    <input id="playerOptions_overlay_toggle" checked th:field="*{playerOptions.overlay}" type="checkbox" />
                                                </div>
                                            </div>
                                            <!-- INTRO VIDEO -->
                                            <div class="form-group row mt-2">
                                                <label for="playerOptions_LicenseIntro_toggle" class="col-sm-3 col-form-label">Αναπαραγωγή Εισαγωγικού Βίντεο</label>
                                                <div class="col-sm-7">
                                                    <input id="playerOptions_LicenseIntro_toggle" th:field="*{playerOptions.showLicenseIntro}" type="checkbox"/>
                                                </div>
                                            </div>
                                            <div th:if="${Resource.resourceAccess != null}" class="row mt-4 info-bar" style="font-size: 0.9em">
                                                <hr/>
                                                <div class="col-12">
                                                    <i class="fas fa-info-circle"></i> Ιδιότητες αρχείου βίντεο:
                                                    <span>Όνομα: </span><span id="file_name" th:text="${Resource.resourceAccess.fileName}"></span>
                                                    <span>Φάκελος αποθήκευσης: </span><span id="file_folder" th:text="${Resource.resourceAccess.folder}"></span>
                                                    <span>Μέγεθος: </span><span id="file_size" th:text="${Resource.resourceAccess.filesize  + ' bytes'}">file_size</span>
                                                    <span>Διάρκεια: </span><span id="video_dur" th:text="${Resource.resourceAccess.duration}">video_duration</span>
                                                    <th:block th:if="${Resource.realDuration != null && Resource.realDuration != Resource.resourceAccess.duration}">
                                                        | Με αποκοπή: <span id="video_tdur" th:text="${Resource.realDuration}">trimmed_video_duration</span>
                                                    </th:block>
                                                    <br/>
                                                    <span>Τύπος Αρχείου: </span><span id="file_format" th:text="${Resource.resourceAccess.format}">file_type</span>&nbsp;|&nbsp;
                                                    <span>Ανάλυση: </span><span id="video_res" th:text="${Resource.resourceAccess.resolution}">video_resolution</span>&nbsp;|&nbsp;
                                                    <span>Αναλογία Απεικόνισης: </span><span id="video_ar" th:text="${Resource.resourceAccess.aspectRatio}">video_aspect_ratio</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- PRESENTATION TAB -->
                                <div class="tab-pane" id="presentation" role="tabpanel" aria-labelledby="presentation-tab">
                                    <div class="card-header"  style="background-color: #f7f7f9" >
                                        <!-- Presentation -->
                                        <div class="row save_warning">
                                            <div class="col-12 text-center">
                                              <span class="text-medium-emphasis" style="font-weight: 500">
                                               <i class="far fa-question-circle"></i> Αποθηκεύστε την καταχώρηση για να εμφανιστούν οι επιλογές Παρουσίασης
                                              </span>
                                            </div>
                                        </div>
                                        <div id="presentation-container" class="px-0 mt-0 pt-0">
                                            <div id="pr_outerUploadContainer" class="form-group row pr_outerUploadContainer">
                                                <label for="pr_dropArea" class="col-sm-3 col-form-label"></label>
                                                <div class="col-sm-12">
                                                    <div class="uploadWrapper">
                                                        <div id="pr_dropArea" class="dropsq emph p-3" style="border: #cccccc 1px dashed">
                                                            Για να "ανεβάσετε" την παρουσίαση, σύρτε το αρχείο εδώ ή πατήστε 'Επιλέξτε Αρχείο'
                                                        </div>
                                                        <div id="presentation_progress_panel" style="display: none">
                                                            <div class="progress mt-3" style="border: blue 1px solid">
                                                                <div class="progress-bar bg-info" id="pr_progressBar"
                                                                     role="progressbar"
                                                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                                </div>
                                                            </div>
                                                            <div class="ps-2" style="background-color: white;font-style: italic">
                                                                                   <span id="pr_statusMessage" style="font-size:0.9em">
                                                                                       μεταφόρτωση: έτοιμο
                                                                                   </span>
                                                            </div>
                                                            <div class="progress mt-3" style="border: green 1px solid">
                                                                <div class="progress-bar bg-success" id="pr_progressBar_anal"
                                                                     role="progressbar"
                                                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                                </div>
                                                            </div>
                                                            <div class="ps-2" style="background-color: white;font-style: italic">
                                                                               <span id="pr_statusAnalMessage" style="font-size:0.9em">
                                                                                    ανάλυση: έτοιμο
                                                                               </span>
                                                            </div>
                                                        </div>
                                                        <div class="my-3">
                                                            <div class="form-group" id="pr_uploadContainer"></div>
                                                            <div id="pr_fileList"><small>Error: No runtime found!</small></div>
                                                            <button id="pr_browseButton" type="button" class="btn btn-light me-1">
                                                                <i class="far fa-file-video"></i><span> Επιλέξτε Αρχείο*...</span>
                                                            </button>
                                                            <button id="pr_cancelButton" type="button" class="btn btn-brand btn-danger"><i class="fas fa-ban"></i><span> Ακύρωση</span></button>
                                                        </div>
                                                        <pre id="pr_uploadLog" style="height: 300px; overflow: auto">upload -- log</pre>
                                                        <div class="mt-4" style="font-style: italic;font-size: 0.9em">
                                                            * αποδεκτοί τύποι αρχείων: Microsoft Powerpoint (PPT & PPTX), Adobe Acrobat (PDF),Συμπιεσμένο αρχείο ZIP με εικόνες JPG, Εικόνες JPG (πολλαπλές), Συμπιεσμένο αρχείο ZIP με εικόνες JPG και πληροφορίες συγχρονισμού (SlideRecorder)<br/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="pr_slideContainer" class="pr_slideContainer">
                                                <div class="prSlideActions text-end mt-2">
                                                     <!--       <span>Εμφάνιση:</span>
                                                            <button id="pr_compactPp" class="btn btn-sm text-left me-1" title="Compact View"><i class="far fa-square"></i> Διαφάνεια</button>
                                                            <button id="pr_detailsPp" class="btn btn-sm text-left btn-info me-3" title="Details View"><i class="fab fa-buromobelexperte"></i> Πλέγμα</button>
-->

                                                            <a title="Συγχρονισμός βίντεο-παρουσίασης" th:href="@{/admin/video-sync(id=${Resource.id})}" role="button" id="pr_syncPp" class="btn-light btn-sm btn mx-1">
                                                                <i class="fas fa-sync-alt"></i> Συγχρονισμός
                                                            </a>
                                                            <a target="_blank" download id="pr_exportPp" title="κατεβάστε την παρουσίαση σε  αρχείο στον υπολογιστή σας" role="button"
                                                               class="btn btn-sm btn-light" href="#">
                                                                <i class="fas fa-download"></i><span> Εξαγωγή αρχείου</span>
                                                            </a>

                                                            <button id="pr_removePp" class="btn-light btn btn-sm"><i class="fas fa-trash" style="color:red;"></i> Διαγραφή παρουσίασης</button>

                                                </div>
                                                <hr/>
                                                <div class="card-body text-left" id="slides-card">
                                                    <span id="pr_imageGrid"></span>
                                                    <footer class="blockquote-footer text-right mt-3 text-high-emphasis">
                                                        <span id="pr_slideCount"></span> &centerdot;
                                                    </footer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="other" role="tabpanel" aria-labelledby="other-tab">

                                    <div class="card ps-2" style="background-color: #f7f7f9" >
                                        <div class="form-group row mt-3">
                                            <label for="resource_description" class="col-sm-3 col-form-label">Περιγραφή</label>
                                            <div class="col-sm-4">
                                                <textarea th:field="*{description}" class="form-control reset_control" id="resource_description" placeholder=""></textarea>
                                            </div>
                                        </div>
                                        <!-- CLASSROOM -->
                                        <div class="form-group row mt-3">
                                            <input type="hidden" id="classroom_id" th:field="*{classroom}"/>
                                            <label for="classrooms_s2" class="col-sm-3 col-form-label">Χώρος Διδασκαλίας | Διεξαγωγής</label>
                                            <div class="col-sm-4">
                                                <select id="classrooms_s2" style="width: 100%" class="form-control js-classrooms-tags reset_control">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Λέξεις κλειδιά -->
                                        <div class="form-group row mt-3">
                                            <label for="resource_tpcs" class="col-sm-3 col-form-label">Λέξεις Κλειδιά</label>
                                            <div class="col-sm-4">
                                                <select id="resource_tpcs" style="width: 100%" class="form-control js-topics-tags" multiple="multiple" th:field="*{topics}">
                                                    <option th:each="tp:${Resource.topics}" th:value="${tp}" th:text="${tp}"></option>
                                                </select>
                                                <small class="form-text text-medium-emphasis">Πληκτρολογήστε λέξεις ή φράσεις. Πατήστε 'enter' μεταξύ των λέξεων ή των φράσεων</small>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane" id="tags" role="tabpanel" aria-labelledby="tags-tab">
                                    <div class="card-header" style="background-color: #f7f7f9" >
                                        <!-- Tags -->
                                        <div class="form-group row mt-3">
                                            <label for="tag_ResApp_select" class="col-sm-3 col-form-label">Αποδοχή</label>
                                            <div class="col-sm-3">
                                                <select id="tag_ResApp_select" class="custom-select" th:field="*{tags.resApp}" style="width: 100%">
                                                    <option value="admin.tag.undefined" th:text="#{admin.tag.undefined}"></option>
                                                    <option value="admin.tag.noneed" th:text="#{admin.tag.noneed}"></option>
                                                    <option value="admin.tag.neednotready" th:text="#{admin.tag.neednotready}"></option>
                                                    <option value="admin.tag.done" th:text="#{admin.tag.done}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-3 ">
                                            <label for="tag_MetEdt_select" class="col-sm-3 col-form-label">Μεταδεδομένα</label>
                                            <div class="col-sm-3">
                                                <select id="tag_MetEdt_select" class="custom-select" th:field="*{tags.metEdt}" style="width: 100%">
                                                    <option value="admin.tag.undefined" th:text="#{admin.tag.undefined}"></option>
                                                    <option value="admin.tag.noneed" th:text="#{admin.tag.noneed}"></option>
                                                    <option value="admin.tag.neednotready" th:text="#{admin.tag.neednotready}"></option>
                                                    <option value="admin.tag.done" th:text="#{admin.tag.done}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-3 ">
                                            <label for="tag_MultUp_select" class="col-sm-3 col-form-label">Μεταφόρτωση Βίντεο</label>
                                            <div class="col-sm-3">
                                                <select id="tag_MultUp_select" class="custom-select" th:field="*{tags.multUp}" style="width: 100%">
                                                    <option value="admin.tag.undefined" th:text="#{admin.tag.undefined}"></option>
                                                    <option value="admin.tag.noneed" th:text="#{admin.tag.noneed}"></option>
                                                    <option value="admin.tag.neednotready" th:text="#{admin.tag.neednotready}"></option>
                                                    <option value="admin.tag.done" th:text="#{admin.tag.done}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-3 ">
                                            <label for="tag_PreUp_select" class="col-sm-3 col-form-label">Μεταφόρτωση Παρουσίασης</label>
                                            <div class="col-sm-3">
                                                <select id="tag_PreUp_select" class="custom-select" th:field="*{tags.preUp}" style="width: 100%">
                                                    <option value="admin.tag.undefined" th:text="#{admin.tag.undefined}"></option>
                                                    <option value="admin.tag.noneed" th:text="#{admin.tag.noneed}"></option>
                                                    <option value="admin.tag.neednotready" th:text="#{admin.tag.neednotready}"></option>
                                                    <option value="admin.tag.done" th:text="#{admin.tag.done}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-3 ">
                                            <label for="tag_MultEdt_select" class="col-sm-3 col-form-label">Επεξεργασία Βίντεο</label>
                                            <div class="col-sm-3">
                                                <select id="tag_MultEdt_select" class="custom-select" th:field="*{tags.multEdt}" style="width: 100%">
                                                    <option value="admin.tag.undefined" th:text="#{admin.tag.undefined}"></option>
                                                    <option value="admin.tag.noneed" th:text="#{admin.tag.noneed}"></option>
                                                    <option value="admin.tag.neednotready" th:text="#{admin.tag.neednotready}"></option>
                                                    <option value="admin.tag.done" th:text="#{admin.tag.done}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-3 ">
                                            <label for="tag_MultRed_select" class="col-sm-3 col-form-label">Πραγματική Κοπή</label>
                                            <div class="col-sm-3">
                                                <select id="tag_MultRed_select" class="custom-select" th:field="*{tags.multRed}" style="width: 100%">
                                                    <option value="admin.tag.undefined" th:text="#{admin.tag.undefined}"></option>
                                                    <option value="admin.tag.noneed" th:text="#{admin.tag.noneed}"></option>
                                                    <option value="admin.tag.neednotready" th:text="#{admin.tag.neednotready}"></option>
                                                    <option value="admin.tag.done" th:text="#{admin.tag.done}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-3 ">
                                            <label for="tag_PreSyn_select" class="col-sm-3 col-form-label">Συγχρονισμός</label>
                                            <div class="col-sm-3">
                                                <select id="tag_PreSyn_select" class="custom-select" th:field="*{tags.preSyn}" style="width: 100%">
                                                    <option value="admin.tag.undefined" th:text="#{admin.tag.undefined}"></option>
                                                    <option value="admin.tag.noneed" th:text="#{admin.tag.noneed}"></option>
                                                    <option value="admin.tag.neednotready" th:text="#{admin.tag.neednotready}"></option>
                                                    <option value="admin.tag.done" th:text="#{admin.tag.done}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- end Tags -->

                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
            </div>
            <div class="card-footer">
                <p style="font-weight: 500">
                    <i class="far fa-comment-dots"></i>  Τα πεδία με αστερίσκο* είναι υποχρεωτικά
                </p>
            </div>
        </div>
    </form>
</div>
