<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Header</title>
</head>

    <div th:fragment="a-admin-filters" style="display: none" id="a-admin-filters">
                <div class="mt-3">
                    <table style="width: 100%" class="table" id="table-apfilter">
                        <tr>
                            <th class="pl-0 pt-0" style="width: 92%;border-top:none"><i class="fas fa-globe-europe mt-2"></i> Πρόσβαση</th>
                            <th style="border-top:none;vertical-align: bottom">#</th>
                        </tr>
                    </table>
                    <table style="width: 100%" class="table" id="table-typefilter">
                        <tr>
                            <th class="pl-0 pt-0" style="width: 92%;border-top:none"><i class="fab fa-hubspot"></i> Τύπος</th>
                            <th style="border-top:none;vertical-align: bottom">#</th>
                        </tr>
                    </table>
                </div>
    </div>

</html>