<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<nav th:fragment="a-search-nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop"
            aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTop">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle  gray-link-wcag-color" href="#" id="department-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Τμήμα
                </a>
                <ul class="dropdown-menu" aria-labelledby="department-dropdown" id="department-columns" style="font-size: 0.9em"></ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle  gray-link-wcag-color" href="#" id="evtDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Εκδήλωση
                </a>
                <ul class="dropdown-menu" aria-labelledby="evtDropdown" id="events-list" style="max-height: 300px;width:500px;overflow:auto;font-size: 0.9em"></ul>
            </li>
        </ul>
        <span class="form-inline my-2 my-lg-0">
               <input class="form-control form-control-sm mr-sm-2" size="30" id="search-box" type="search" placeholder="Αναζήτηση" aria-label="Search" th:field="*{ft}">
               <button class="btn btn-sm btn-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </span>
    </div>
</nav>