<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="u-dyna-filters">
    <div id="AllFilters">
            <div class="text-muted mb-2"><i>
            * Τα δυναμικά φίλτρα υπολογίζονται από τα πρώτα 1000 αποτελέσματα. Tα πραγματικά νούμερα ενδέχεται να είναι μεγαλύτερα</i>
            </div>
            <!-- DEPARTMENT FILTER -->
            <div id="departments_filter_row" style="display: none">
                <div class="row py-2">
                    <div class="col-6 font-weight-bold">
                        <img  alt="" width="16px" height="16px" th:src="@{'/public/images/icons/IconDepartment.png'}" src="">  Τμήμα
                    </div>
                    <div class="col-6 input-group">
                        <label for="depSearchText"></label>
                        <input type="text" id="depSearchText" placeholder="αναζήτηση..." class="form-control form-control-sm">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-secondary" style="border: none" type="button" id="clear-dp-search-text">x</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pr-0">
                        <table id="departments_rdt" class="table " style="width:100%">
                            <thead>
                                <th></th>
                                <th style="width: 100%"  class="text-left"></th>
                                <th class="text-right"> #</th>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="row"><div class="col-12 text-center"><i class="fas fa-divide"></i></div></div>
            </div>

            <!-- COURSES FILTER -->
            <div id="courses_filter_row" style="display: none">
                <div class="row py-2">
                    <div class="col-6 font-weight-bold">
                        <img  alt="μαθήματα" width="16px" height="16px" th:src="@{'/public/images/icons/IconLesson.png'}" src="">  Μάθημα
                    </div>
                    <div class="col-6 input-group">
                        <input type="text" id="crSearchText" placeholder="αναζήτηση..." class="form-control form-control-sm">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-secondary" style="border: none" type="button" id="clear-cr-search-text">x</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pr-0">
                        <table id="courses_rdt" class="table " style="width:100%">
                            <thead>
                                <th></th>
                                <th></th>
                                <th style="width: 100%"  class="text-left"></th>
                                <th class="text-right"> #</th>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row"><div class="col-12 text-center"><i class="fas fa-divide"></i></div></div>
            </div>
            <!-- STAFF MEMBERS FILTER -->
        <div id="staff_filters_row"  style="display: none">
            <div class="row py-2 mt-2">
                <div class="col-6 font-weight-bold">
                    <img  alt="Καθηγητές" width="16px" height="16px" th:src="@{'/public/images/icons/IconStaff.png'}" src="">  Καθηγητής
                </div>
                <div class="col-6 input-group">
                    <input type="text" id="stSearchText" placeholder="αναζήτηση..." class="form-control form-control-sm">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary" style="border: none" type="button" id="clear-st-search-text">x</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pr-0">
                    <table id="staff_rdt" class="table " style="width:100%">
                        <thead>
                            <th></th>
                            <th></th>
                            <th style="width: 100%" class="text-left"></th>
                            <th class="text-right"> #</th>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="row"><div class="col-12 text-center"><i class="fas fa-divide"></i></div></div>
        </div>
        <div id="events_filter_row"  style="display: none">
            <!-- SCHEDULED EVENTS FILTER -->
            <div class="row py-2 mt-2">
                <div class="col-6 font-weight-bold">
                    <img  alt="" width="16px" height="16px" th:src="@{'/public/images/icons/IconEvents25x25.png'}" src="">  Εκδήλωση
                </div>
                <div class="col-6 input-group">
                    <input type="text" id="evSearchText" placeholder="αναζήτηση..." class="form-control form-control-sm">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary" style="border: none" type="button" id="clear-ev-search-text">x</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pr-0">
                    <table id="events_rdt" class="table " style="width:100%">
                        <thead>
                            <th></th>
                            <th style="width: 100%"  class="text-left"></th>
                            <th class="text-right"> #</th>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="row"><div class="col-12 text-center"><i class="fas fa-divide"></i></div></div>
        </div>
    </div>
</div>
</body>
</html>