<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--@thymesVar id="QR" type="org.opendelos.dashboard.repository.resource.QueryResourceResults"-->
<!--@thymesVar id="resourceQuery" type="org.opendelos.dashboard.repository.resource.ResourceQuery"-->
<!--@thymesVar id="PageLoadTime" type="java.lang.Long"-->
<div th:fragment="u-sort-and-display">
    <div class="row mt-2 mb-0">
        <div class="col-lg-8"></div>
        <div class="col-lg-2 col-6" style="display: flex; justify-content: flex-end">
            <th:block th:if="${QR.totalResults > 0}">
                <select id="sort_select" class="form-control mr-4">
                    <option value="date"> Ώρα Εκκίνησης</option>
                    <option value="title"> Τίτλος</option>
                </select>
            </th:block>
        </div>
        <div class="col-lg-2 col-6" style="display: flex; justify-content: flex-end">
            <th:block th:if="${QR.totalResults > 0}">
                <select id="direction_select" class="form-control ml-2">
                    <option value="asc"> Αύξουσα</option>
                    <option value="desc"> Φθίνουσα</option>
                </select>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>