<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<ul th:fragment="a-header-rmenu" class="header-nav ms-auto">

    <div class="nav-item dropdown">
        <a class="nav-link text-decoration-none mt-2" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user me-1 ms-3 mt-2"></i><span th:text="${user.name}"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right pt-0">
            <a class="dropdown-item" th:href="@{/admin/user_profile}">
                <span class="fas fa-user me-1"></span> Προφίλ
            </a>
            <div class="dropdown-divider"></div>
            <a sec:authorize="isAuthenticated()" class="dropdown-item" href="#" title="logout" data-coreui-toggle="modal" data-coreui-target="#logout_modal" >
                <i class="fas fa-sign-out-alt me-1"></i> Αποσύνδεση
            </a>
            <a sec:authorize="isAnonymous()" class="dropdown-item" th:href="@{/admin}">
                <i class="fas fa-sign-in-alt me-1"></i> Σύνδεση
            </a>
        </div>
    </div>
    <div class="vr"></div>
    <a th:href="@{/admin#v-pills-home}" class="btn btn-sm blue-link-wcag-color" role="button" title="Περιεχόμενο">
        <span style="font-size: 30px" class="icon-main-menu-contentm"></span>
    </a>
    <a th:href="@{/admin#v-pills-schedule}" class="btn btn-sm blue-link-wcag-color" role="button"  title="Προγραμματισμός">
        <span style="font-size: 30px" class="icon-main-menu-scheduler"></span>
    </a>
    <a th:href="@{/admin#v-pills-events}" class="btn btn-sm blue-link-wcag-color" role="button"  title="Εκδηλώσεις">
        <span style="font-size: 30px" class="icon-lecture-event"></span>
    </a>
    <th:block sec:authorize="hasAnyRole('ROLE_SA')">
        <a th:href="@{/admin#v-pills-messages}" class="btn btn-sm blue-link-wcag-color" role="button"  title="Ίδρυμα">
            <span style="font-size: 30px" class="icon-main-menu-irm"></span>
        </a>
    </th:block>
    <th:block sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_SA')">
        <a th:href="@{/admin#v-pills-departments}" class="btn btn-sm blue-link-wcag-color" role="button"  title="Τμήματα">
            <span style="font-size: 30px" class="icon-lecture-lesson"></span>
        </a>
    </th:block>
    <th:block sec:authorize="hasAnyRole('ROLE_SA')">
        <a th:href="@{/admin#v-pills-settings}" class="btn btn-sm blue-link-wcag-color" role="button"  title="Ιστότοπος">
            <span style="font-size: 30px" class="icon-main-menu-settings"></span>
        </a>
    </th:block>
</ul>
