<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!-- @thymesVar id="section" type="java.lang.String" -->
<!-- @thymesVar id="user" type="org.opendelos.model.users.OoUserDetails" -->
<th:block th:fragment="b-topnav">
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-coreui-toggle="collapse" data-coreui-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav me-auto text-white">
                <th:block sec:authorize="hasAnyRole('ROLE_SA', 'ROLE_MANAGER', 'ROLE_SUPPORT', 'ROLE_STAFFMEMBER')">
                    <a th:if="${section == 'admin_home'}" class="nav-item nav-link active" th:href="@{/admin}">Αρχική</a>
                    <a th:unless="${section == 'admin_home'}" class="nav-item nav-link" th:href="@{/admin}">Αρχική</a>
                    <a th:if="${section == 'admin_content'}" class="nav-item nav-link active" th:href="@{/admin/search}">Περιεχόμενο</a>
                    <a th:unless="${section == 'admin_content'}" class="nav-item nav-link" th:href="@{/admin/search}">Περιεχόμενο</a>
                    <a th:if="${section == 'events_content'}" class="nav-item nav-link active" th:href="@{/admin/sevents}">Εκδηλώσεις</a>
                    <a th:unless="${section == 'events_content'}" class="nav-item nav-link" th:href="@{/admin/sevents}">Εκδηλώσεις</a>
                    <th:block sec:authorize="hasAnyRole('ROLE_SA')">
                        <a th:if="${section == 'admin_institution'}" class="nav-item nav-link active" th:href="@{/admin/institution/structure}">Ίδρυμα </a>
                        <a th:unless="${section == 'admin_institution'}" class="nav-item nav-link" th:href="@{/admin/institution/structure}">Ίδρυμα </a>
                    </th:block>
                    <th:block sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_SA')">
                        <a th:if="${section == 'admin_department'}" class="nav-item nav-link active" th:href="@{/admin/department/courses}">Τμήματα</a>
                        <a th:unless="${section == 'admin_department'}" class="nav-item nav-link" th:href="@{/admin/department/courses}">Τμήματα</a>
                    </th:block>
                    <a th:if="${section == 'admin_scheduler'}" class="nav-item nav-link active" th:href="@{/admin/scheduler/timetable}">Προγραμματισμός</a>
                    <a th:unless="${section == 'admin_scheduler'}" class="nav-item nav-link" th:href="@{/admin/scheduler/timetable}">Προγραμματισμός</a>
                    <th:block sec:authorize="hasAnyRole('ROLE_SA')">
                        <a th:if="${section == 'admin_system'}" class="nav-item nav-link active" th:href="@{/admin/system/messages}">Ιστότοπος</a>
                        <a th:unless="${section == 'admin_system'}" class="nav-item nav-link" th:href="@{/admin/system/messages}">Ιστότοπος</a>
                    </th:block>
                </th:block>
            </div>
            <form class="d-flex">
                <div class="nav-item dropdown">
                    <a class="c-header-nav-link text-decoration-none" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: white">
                        <i class="far fa-user-circle me-1"></i><span th:text="${user.name}"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right pt-0">
                        <a class="dropdown-item" th:href="@{/admin/user_profile}">
                            <span class="fas fa-user me-1"></span> Προφίλ
                        </a>
                        <div class="dropdown-divider"></div>
                        <a sec:authorize="isAuthenticated()" class="dropdown-item" href="#" title="logout" data-coreui-toggle="modal" data-coreui-target="#logout_modal" >
                            <i class="fas fa-sign-out-alt me-1"></i> Αποσύνδεση
                        </a>
                        <a sec:authorize="isAnonymous()" class="dropdown-item" th:href="@{/admin}">
                            <i class="fas fa-sign-in-alt me-1"></i> Σύνδεση
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
</th:block>