<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<th:block th:fragment="sub-content-nav">
<nav class="navbar navbar-expand-md navbar-light pb-0 pt-2" style="background-color:white;margin-top: 50px!important;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-coreui-toggle="collapse" data-coreui-target="#subBar" aria-controls="subBar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="subBar">
            <div class="navbar-nav ps-2">
                Περιεχόμενο ::
            </div>
            <div class="navbar-nav">
                <a class="nav-item nav-link active" th:href="@{/admin/search}"><span class="fas fa-search me-1"></span>Διαχείριση Περιεχομένου <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link " th:href="@{/admin/sevents}"><span class="fas fa-calendar-alt me-1"></span>Διαχείριση Εκδηλώσεων</a>
                <a class="nav-item nav-link" th:href="@{/admin/lecture-editor}"><span class="fas fa-plus me-1"></span>Νέα Διάλεξη</a>
                <a class="nav-item nav-link" th:href="@{/admin/event-editor}"><span class="fas fa-plus me-1"></span>Νέο Πολυμέσο Εκδήλωσης</a>
            </div>
            <ul class="c-header-nav ml-auto" style="min-height: 20px!important">
            </ul>
        </div>
    </div>
</nav>
</th:block>