<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!--@thymesVar id="resourceQuery" type="org.opendelos.dashboard.repository.resource.ResourceQuery"-->
<div th:fragment="admin-calendar-search-bar" style="font-size: 1em" >
    <nav class="navbar navbar-expand-md navbar-light bg-light" style="background-color: #f8f8f8!important;border-radius: 25px!important;border: 1px lightgrey solid!important;">
        <div class="collapse navbar-collapse" id="navbarTop">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle gray-accesskeys-link-wcag-color" href="#" id="department-dropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Τμήμα
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="department-dropdown" id="department-columns"></ul>
                </li>
                <th:block sec:authorize="hasRole('ROLE_STAFFMEMBER')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  gray-accesskeys-link-wcag-color" href="#" id="editor-dropdown" role="button"
                           data-toggle="dropdown" aria-expanded="false">
                            Εμφάνιση
                        </a>
                        <ul class="dropdown-menu" id="editor-columns" aria-labelledby="editor-dropdown" style="font-size: 1em"></ul>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>