<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--@thymesVar id="ccLicense" type="org.opendelos.model.common.CcLicense"-->
<!--@thymesVar id="resource" type="org.opendelos.model.resources.Resource"-->
<div th:fragment="u-videoplayer">
    <div id="video_cont" class="p-0 m-0">
        <video id='player' controls preload="auto" autoplay controlsList='nodownload'>
            <source id='mp4'  src="" type='video/mp4'>
            <source id='webm' src="" type='video/webm'>
        </video>
    </div>
        <div class="video-controls">
            <div style="box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                <span style="text-align: left">
                               <button title="play or pause" type="button" class="btn btn-sm blue-link-wcag-color playpause" id="playPauseVideoBt" autofocus tabindex="1"  onclick="dashboard.player.actions.play()">
                                    <i class="fas fa-play"></i>
                                </button>
                                <button title="stop" type="button" class="btn btn-sm blue-link-wcag-color  stop" onclick="dashboard.player.actions.stop()" tabindex="2" id="stopBt">
                                    <i class="fas fa-stop"></i>
                                </button>
                </span>
                <span style="text-align: right;float: right">
                                <button title="mute or unmute"  type="button" class="btn btn-sm blue-link-wcag-color  player_mute" id="muteVideoBt" tabindex="3" onclick="dashboard.player.actions.mute()">
                                   <i class="fas fa-volume-mute"></i>
                                </button>
                                <button title="volume-down"  type="button" class="btn btn-sm blue-link-wcag-color  vdown"  tabindex="4" onclick="dashboard.player.actions.voldown()">
                                    <i class="fas fa-volume-down"></i>
                                </button>
                                <button title="volume up"  type="button" class="btn btn-sm blue-link-wcag-color  vup" tabindex="5" onclick="dashboard.player.actions.volup()">
                                    <i class="fas fa-volume-up"></i>
                                </button>
                                <button title="fullscreen" type="button" class="btn btn-sm blue-link-wcag-color  fscreen" tabindex="6" onclick="dashboard.player.actions.fullscreen()" id="fs">
                                    <i class="fas fa-expand-arrows-alt"></i>
                                </button>
                </span>
            </div>
            <div style="font-style:italic;margin-top:8px;font-size: small;padding-left:0" id="player_footer">
                <i class="far fa-clock"  style="top:3px;padding-left: 0" aria-hidden="true"></i>
                <span style="margin-left:3px" class="show_current_time"></span>
                <span style="float:right" class="show_current_vol"></span>
                <i class="fas fa-volume-up"  style="float: right;top:3px;margin-right: 3px" aria-hidden="true"></i>
            </div>
            <div class="mt-2" style="font-style:italic;font-size: 0.9em">
                <a class="text-muted" th:href="${ccLicense.getUrl()}" target="_blank" style="text-decoration: none">
                    <img th:src="${ccLicense.image_url}" alt="" width="48px" class="mr-2"/>
                    Άδεια Χρήσης: <div th:text="${ccLicense.title}" style="color: #0b6da8"></div>
                </a>
            </div>
        </div>

 </div>
</body>
</html>