<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"  th:lang="${localeCode}">

<body>
    <div th:fragment="ontop-applied-filters">
        <div class="card mb-2  mt-2">
            <div class="card-header" style="vertical-align: center;line-height: 30px">
                <i class="fas fa-sliders-h"></i> Κριτήρια Αναζήτησης
                <a role="button" id="clear-all-filters" title="αφαίρεση όλων των κριτηρίων και εκκίνηση νέας αναζήτησης" style="display: none"  class="btn btn-pill btn-light btn-sm ms-2" >
                    <span class="fas fa-ban"></span> καθαρισμός
                </a>
            </div>
            <div class="card-body px-0">
                <div class="mb-2">
                        <div class="text-muted" id="none_filter">κανένα επιλεγμένο κριτήριο</div>
                        <button id="department-filter" style="display: none"  class="my-2 mx-1 btn blue-btn-wcag-bgnd-color btn-sm">
                            <a href="#" role="button" title="αφαίρεση κριτηρίου" style="color: #ffffff;text-decoration: none" id="clear-dt-filter">
                                <span id="department-dd-header"></span>
                            </a>
                        </button>
                        <button  id="course-filter" style="display: none"  class="my-2 mx-1 btn   blue-btn-wcag-bgnd-color  btn-sm">
                            <a href="#" role="button" title="αφαίρεση κριτηρίου" style="color: #ffffff;text-decoration: none" id="clear-co-filter">
                                <span id="course-dd-header"></span>
                            </a>
                        </button>
                        <button id="staff-filter"  style="display: none"  class="my-2 mx-1  btn   blue-btn-wcag-bgnd-color  btn-sm">
                            <a href="#" role="button" title="αφαίρεση κριτηρίου" style="color: #ffffff;text-decoration: none" id="clear-sm-filter">
                                <span id="staff-dd-header"></span>
                            </a>
                        </button>
                        <button id="class-filter"  style="display: none"  class="my-2 mx-1  btn   blue-btn-wcag-bgnd-color  btn-sm">
                            <a href="#" role="button" title="αφαίρεση κριτηρίου" style="color: #ffffff;text-decoration: none" id="clear-cr-filter">
                                <span id="class-dd-header"></span>
                            </a>
                        </button>
                </div>
                <div id="AllFilters">
                    <div class="row pt-3" style="border-top: #006A9B solid 3px">
                                <div class="col-12">
                                    <a id="depCanvasLink" style="display: none;color: #0b6da8"  class="btn btn-sm btn-light mb-1" data-coreui-toggle="offcanvas" href="#offcanvasDep" role="button" aria-controls="offcanvasDep" title="προσθήκη κριτηρίου αναζήτησης: επιλέξτε τμήμα">
                                        <i class="fas fa-plus-circle"></i> | Τμήμα
                                    </a>
                                    <panel id="showFilterWarning" style="display: none">
                                        <div>
                                            <i class="far fa-hand-pointer"></i>
                                        </div>
                                        <div style="background-color: #fdf59a" class="p-2">
                                            Επιλέξτε <b>Τμήμα</b>. Αργότερα, μπορείτε να περιορίσετε περαιτέρω τη λίστα επιλέγοντας <b>Διδάσκοντα ή/και Μάθημα</b>
                                        </div>
                                    </panel>
                                    <a id="staffCanvasLink" style="display: none;color: #0b6da8"   class="btn btn-sm btn-light mb-1" data-coreui-toggle="offcanvas" href="#offcanvasStaff" role="button" aria-controls="offcanvasStaff" title="προσθήκη κριτηρίου αναζήτησης: επιλέξτε διδάσκοντα">
                                        <i class="fas fa-plus-circle"></i> | Διδάσκων ή Υπ. Καθηγητής
                                    </a>
                                    <a  id="courseCanvasLink" style="display: none;color: #0b6da8"  class="btn btn-sm btn-light mb-1" data-coreui-toggle="offcanvas" href="#offcanvasCourse" role="button" aria-controls="offcanvasCourse"  title="προσθήκη κριτηρίου αναζήτησης: επιλέξτε μάθημα">
                                        <i class="fas fa-plus-circle"></i> | Μάθημα
                                    </a>
                                    <div class="text-muted" id="no_dyna_filters"></div>
                                </div>
                            </div>
                </div>
            </div>
        </div>

        <!-- OffCanvas Dep -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDep" aria-labelledby="offcanvasDepLabel">
            <div class="offcanvas-header">
                <div style="font-size: 1.3em;font-weight: 500" class="offcanvas-title" id="offcanvasDepLabel">Τμήμα</div>
                <button type="button" class="btn-close text-reset" data-coreui-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    Επιλέξτε <b>Τμήμα</b>
                    <p class="text-medium-emphasis italic-wcag">
                        Περιορίστε τη λίστα των επιλογών πληκτρολογώντας μέρος του τίτλου του τμήματος που αναζητείτε στο παρακάτω πεδίο
                    </p>
                </div>
                <div class="mt-2 mb-3">
                    <label for="dp-search">αναζήτηση</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                        <input type="text" id="dp-search" class="form-control short-list" data-target="dpFilters" placeholder="αναζήτηση στη λίστα"/>
                    </div>
                </div>

                <!-- @thymesVar id="departmentList" type="java.util.List<org.opendelos.model.common.Select2GenGroup>" -->
                <!-- @thymesVar id="school" type="org.opendelos.model.common.Select2GenGroup" -->
                <!-- @thymesVar id="dep" type="org.opendelos.model.common.Select2GenChild" -->
                <!-- @thymesVar id="view" type="java.lang.String" -->
                <ul class="mt-3 list-group" id="dpFilters">
                    <th:block th:each="school, iStat: ${departmentList}">
                        <div class="my-2" th:text="${school.text}" style="font-weight: 500"></div>
                            <th:block th:each="dep, iStats: ${school.children}">
                                <li class="list-group-item">
                                    <a th:if="${view != ''}" class="text-dark text-decoration-none" th:href="@{calendar(d=${dep.id},view=${view})}" th:text="${dep.text}"></a>
                                    <a th:unless="${view != ''}" class="text-dark text-decoration-none" th:href="@{calendar(d=${dep.id})}" th:text="${dep.text}"></a>
                                </li>
                            </th:block>
                    </th:block>
                </ul>
            </div>
        </div>

        <!-- OffCanvas Staff -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStaff" aria-labelledby="offcanvasStaffLabel">
            <div class="offcanvas-header">
                <div style="font-size: 1.3em;font-weight: 500" class="offcanvas-title" id="offcanvasStaffLabel">Διδάσκων ή Υπ. Καθηγητής</div>
                <button type="button" class="btn-close text-reset" data-coreui-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    Επιλέξτε <b>Διδάσκοντα (-ουσα)</b> ή <b>Υπ. Καθηγητή</b>
                    <p class="text-medium-emphasis italic-wcag">
                        Περιορίστε τη λίστα των επιλογών πληκτρολογώντας μέρος του ονόματος που αναζητείτε στο παρακάτω πεδίο
                    </p>
                </div>
                <div class="mt-2 mb-3">
                    <label for="st-search">αναζήτηση</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                        <input type="text" id="st-search" class="form-control short-list" data-target="stFilters" placeholder="αναζήτηση"/>
                    </div>
                </div>
                <ul  class="mt-3 list-group"  id="stFilters"></ul>
            </div>
        </div>

        <!-- OffCanvas Course -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasCourse" aria-labelledby="offcanvasCourseLabel">
            <div class="offcanvas-header">
                <div style="font-size: 1.3em;font-weight: 500" class="offcanvas-title" id="offcanvasCourseLabel">Μάθημα</div>
                <button type="button" class="btn-close text-reset" data-coreui-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    Επιλέξτε <b>Μάθημα</b>
                    <p class="text-medium-emphasis italic-wcag">
                        Περιορίστε τη λίστα των επιλογών πληκτρολογώντας μέρος του τίτλου που αναζητείτε στο παρακάτω πεδίο
                    </p>
                </div>
                <div class="mt-2 mb-3">
                    <label for="co-search">αναζήτηση</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                        <input type="text" id="co-search" class="form-control short-list" data-target="coFilters" placeholder="αναζήτηση"/>
                    </div>
                </div>
                <ul class="mt-3 list-group" id="coFilters"></ul>
            </div>
        </div>


    </div>
</body>

</html>