<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<!-- @thymesVar id="localeData" type="java.lang.String" -->
<!-- @thymesVar id="page" type="java.lang.String" -->
<header th:fragment="a-topnav">
    <nav class="navbar navbar-expand fixed-top" style="background-color: #006A9B !important">
        <div class="container-fluid">
            <a th:if="${page != 'home'}" class="navbar-brand py-0" th:href="@{/}">
                <img th:src="@{/public/images/logos/uoa_sm_ts.png}" alt="" class="pt-0" style="max-height: 45px">
                     <span class="text-white font-sm" th:text="${'ΕΚΠΑ '}"></span>
                    <span class="text-white" style="font-weight: 600" th:text="${'ΔΙΑΛΕΞΕΙΣ'}"></span>
            </a>
            <button class="navbar-toggler" type="button" data-coreui-toggle="collapse" data-coreui-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2">

                </ul>
                <form class="d-flex">
                    <a role="button" th:href="@{feedback}" class="text-decoration-none text-white btn btn-sm">
                        Επικοινωνία
                    </a>
                </form>
            </div>
        </div>
    </nav>
</header>
