<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="course_edit_modal">
<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseModalLabel" aria-hidden="true" style="padding-right: 17px">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img  style="color: silver" th:src="@{/public/images/icons/IconDepartment-sm.png}" alt="regular" src=""/>
                <h6 class="modal-title ml-2" id="courseModalLabel"></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input type="hidden" id="cs_rowIdx_edited" value=""/>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div><i class="far fa-comment-dots"></i>  Τα πεδία με αστερίσκο* είναι υποχρεωτικά</div>
                    <div class="card card-body" style="background-color: #f7f7f9;border: none">
                        <input type="hidden" id="course_edit_mode" value=""/>
                        <input type="hidden" id="course_id" value=""/>
                        <!-- DEPARTMENT -->
                        <div class="form-group row">
                            <label for="course_department" class="col-sm-2 col-form-label"><b>Τμήμα*</b></label>
                            <div class="col-sm-8">
                                <select id="course_department" style="width: 100%" class="form-control">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="course_programId" class="col-sm-2 col-form-label"><b>Πρόγραμμα Σπουδών*</b></label>
                            <div class="col-sm-8">
                                <select id="course_programId" style="width: 100%" class="form-control">
                                </select>
                            </div>
                        </div>
                        <!-- TITLE -->
                        <div class="form-group row">
                            <label for="course_title" class="col-sm-2 col-form-label"><b>Τίτλος*</b></label>
                            <div class="col-sm-8">
                                <input type="text" id="course_title" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="course_scopeId" class="col-sm-2 col-form-label">Κωδικοί Γραμματείας</label>
                            <div class="col-sm-8">
                                <input type="text" id="course_scopeId" class="form-control"/>
                                <small class="form-text text-muted">διαχωρίστε τυχόν πολλαπλούς κωδικούς με κόμμα ή κενό</small>
                            </div>
                        </div>
                        <!-- Κωδικός LMS -->
                        <div class="form-group row" style="border-bottom: #cccccc 1px solid">
                            <label class="col-sm-2 col-form-label">Κωδικοί LMS</label>
                            <div class="col-sm-10 text-muted" style="font-size: 0.8em">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 text-muted" style="font-size: 0.8em">
                                <i class="far fa-question-circle"></i>
                                Μπορείτε να <b>εισάγεται</b> (προαιρετικά) έναν ή περισσότερους κωδικούς για κάθε LMS. Κάντε κλικ πάνω στο αντίστοιχο πεδίο και
                                πληκτρολογήστε τον κωδικό. <b>Για να καταχωρηθεί η επιλογή σας, πατήστε 'ENTER' μετά από κάθε κωδικό</b>.
                                Μπορείτε να <b>διαγράψετε</b> μια καταχώρηση, κάνοντας κλικ στο αντίστοιχο 'x'.
                            </div>
                        </div>
                        <!--@thymesVar id="lms" type="org.opendelos.control.conf.LmsProperties"-->
                            <div th:each="i: ${#numbers.sequence(0, 4)}">
                                    <div th:if="${lms.url[i] != null}">
                                        <div class="form-group row" id="lms_course_codes">
                                            <div class="col-sm-4">
                                                <span  th:text="${lms.url[i] + ' :'}"></span>
                                                <small class="form-text text-muted" th:text="${lms.name[i]}"></small>
                                            </div>
                                            <div class="col-sm-6">
                                                <select th:id="${'lms.entry[' + i + ']'}" th:attr="data-target=${lms.url[i]}" class="form-control js-lms-tags"
                                                        style="width: 100%;" multiple="multiple">
                                                </select>
                                                <small class="form-text text-muted">πληκτρολογήστε μέχρι 5 κωδικούς</small>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="title_change_warning" style="font-size: 1.2em;color: red;font-weight: bold"><i style="color:red" class="fas fa-exclamation-triangle"></i> ΠΡΟΣΟΧΗ:</div>
                            <div class="title_change_warning">Τυχόν τροποποίηση του τίτλου ενός Μαθήματος θα ενημερώσει τον τίτλο σε όλα τα σημεία που αναφέρεται το επιλεγμένο Μάθημα (Προσωπικό,                                                  Διαλέξεις κλπ). Η τροποποίηση του τίτλου ενός Μαθήματος προτείνεται <b>ΜΟΝΟ</b> για διορθώσεις τυπογραφικών λαθών. Αν το επιλεγμένο μάθημα άλλαξε την επίσημη ονομασία του τότε,  αντί της μετονομασίας, <b>ΔΗΜΙΟΥΡΓΉΣΤΕ ΕΝΑ ΝΕΟ ΜΑΘΗΜΑ ΜΕ ΤΟΝ ΝΕΟ ΤΙΤΛΟ</b>. Οι υπάρχουσες διαλέξεις θα κρατήσουν τον παλιό τίτλο και οι νέες θα καταχωρούν τον νέο.
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"   id="deleteCourse">Διαγραφή</button>
                <button type="button" class="btn btn-primary"  id="addOrUpdateCourse">Αποθήκευση</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ακύρωση</button>
            </div>
    </div>
</div>
</div>
