<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:fragment="sidebar-content" class="sidebar sidebar-fixed sidebar bg-black" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
        <div class="sidebar-brand-full" width="118" height="46" alt="Admin home">

        </div>
        <div class="sidebar-brand-narrow" width="46" height="46" alt="Delos Logo">

        </div>
    </div>
    <!-- @thymesVar id="userIsStaffMemberOnly" type="boolean" -->
    <ul class="sidebar-nav"  style=" ">
        <li class="nav-item mb-3"><a class="nav-link active" th:href="@{/admin}">
            <i class="nav-icon fas fa-home"></i> ΑΡΧΙΚΗ</a>
        </li>

        <li class="nav-item">
            <a  class="nav-link" th:href="@{/admin/user_profile}">
                <i class="nav-icon fas fa-address-card"></i> Το Προφίλ μου
            </a>
            <a class="nav-link" title="logout" href="#" data-coreui-toggle="modal" data-coreui-target="#logout_modal">
                <i class="nav-icon fas fa-sign-out-alt"></i> Αποσύνδεση
            </a>
        </li>
        <li class="nav-title">ΠΕΡΙΕΧΟΜΕΝΟ</li>
        <li class="nav-item">
            <a th:unless="${userIsStaffMemberOnly}" class="nav-link" th:href="@{/admin/search}">
                <i class="nav-icon fas fa-search"></i> Διαχείριση Περιεχομένου
            </a>
            <a th:if="${userIsStaffMemberOnly}" class="nav-link" th:href="@{/admin/search}">
                <i class="nav-icon fas fa-search"></i> Διαλέξεις & Πολυμέσα
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/lecture-editor}">
                <i class="nav-icon icon-lecture"></i> Νέα Διάλεξη
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/event-editor}">
                <i class="nav-icon icon-lecture-event"></i> Νέο Πολυμέσο Εκδήλωσης
            </a>
        </li>
        <li class="nav-title">ΕΚΔΗΛΩΣΕΙΣ</li>
        <li class="nav-item">
            <a th:unless="${userIsStaffMemberOnly}" class="nav-link" th:href="@{/admin/sevents}">
                <i class="nav-icon fas fa-search"></i> Διαχείριση Εκδηλώσεων
            </a>
            <a th:if="${userIsStaffMemberOnly}" class="nav-link" th:href="@{/admin/sevents}">
                <i class="nav-icon fas fa-search"></i> Οι Εκδηλώσεις μου
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/sevent-editor}">
                <i class="nav-icon icon-event"></i> Νέα Εκδήλωση
            </a>
        </li>
        <li class="nav-title">ΠΡΟΓΡΑΜΜΑΤΣΜΟΣ</li>
        <li class="nav-item">
            <a th:unless="${userIsStaffMemberOnly}" class="nav-link" th:href="@{/admin/scheduler/timetable}">
                <i class="nav-icon icon-main-menu-scheduler"></i> Πρόγραμμα Μεταδόσεων
            </a>
            <a th:if="${userIsStaffMemberOnly}" class="nav-link" th:href="@{/admin/scheduler/timetable}">
                <i class="nav-icon icon-main-menu-scheduler"></i> Οι Μεταδόσεις μου
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/scheduler/schedule}">
                <i class="nav-icon icon-live-lecture"></i> Νέα Μετάδοση
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/scheduler/calendar}">
                <i class="nav-icon icon-scheduler-menu-calendar"></i> Ημερολόγιο Μεταδόσεων
            </a>
        </li>
        <th:block sec:authorize="hasAnyRole('ROLE_SA')">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/scheduler/live}">
                    <i class="nav-icon icon-live-lecture"></i> Τρέχουσες Μεταδόσεις
                </a>
            </li>
        </th:block>



     </ul>

</div>
