<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:fragment="a-search-nav">
    <div class="justify-content-between">
        <!-- @thymesVar id="resourceQuery" type="org.opendelos.model.repo.ResourceQuery"-->
        <!-- @thymesVar id="cpage" type="java.lang.String"-->
        <form id="search-form" th:object="${resourceQuery}" th:action="@{/admin/{page}(page=${cpage})}" method="post">
            <input type="hidden" id="departmentId"  th:field="*{departmentId}" />
            <input type="hidden" id="schoolId"      th:field="*{schoolId}" />
            <input type="hidden" id="courseId"      th:field="*{courseId}" />
            <input type="hidden" id="eventId"       th:field="*{eventId}" />
            <input type="hidden" id="staffId"       th:field="*{staffMemberId}" />
            <input type="hidden" id="categoryCode"  th:field="*{categoryCode}" />
            <input type="hidden" id="eventArea"     th:field="*{eventArea}" />
            <input type="hidden" id="accessPolicy"  th:field="*{accessPolicy}" />
            <input type="hidden" id="resourceType"  th:field="*{resourceType}" />
            <input type="hidden"                    th:field="*{period}" />
            <input type="hidden"                    th:field="*{academicYear}" />
            <input type="hidden"                    th:field="*{skip}" />
            <input type="hidden" id="sortField"     th:field="*{sort}" />
            <input type="hidden" id="directionField" th:field="*{direction}" />
            <input type="hidden"                    th:field="*{totalResults}"/>
            <input type="hidden" id="tag"           th:field="*{tag}"/>

            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #f8f8f8!important;border-radius: 25px!important;border: 1px lightgrey solid!important;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop"
                        aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="gen-nav">
                        <ul class="navbar-nav mr-auto">
                            <th:block sec:authorize="hasRole('ROLE_MANAGER') || hasRole('ROLE_SA') || hasRole('SUPPORT') || hasRole('ROLE_STAFFMEMBER')">
                                <th:block sec:authorize="hasRole('ROLE_STAFFMEMBER')">
                                    <!-- @thymesVar id="user" type="org.opendelos.model.users.OoUserDetails"-->
                                    <a class="nav-link mr-5" title="Οι εκδηλώσεις μου" th:href="@{/admin/search(s=${user.id})}">
                                        <i class="fas fa-briefcase"></i> Το Χαρτοφυλάκιό μου
                                    </a>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_MANAGER') || hasRole('ROLE_SA')">

                                    <li id="department_clear" class="nav-item clear-filter" style="display:none">
                                        <a data-target="department" style="padding-right: 0" class="nav-link" title="ακύρωση φίλτρου" href="#" id="department_clear_link">
                                            <i class="fa fa-ban gray-accesskeys-link-wcag-color " aria-hidden="true" style="padding: 0"> </i>
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle  gray-accesskeys-link-wcag-color" href="#" id="department_load" role="button" data-toggle="dropdown" aria-expanded="false">
                                            Τμήμα
                                        </a>
                                        <ul class="dropdown-menu" id="department-columns"  aria-labelledby="department_load" style="font-size: 1em"></ul>
                                    </li>

                                    <li id="area_clear" class="nav-item clear-filter" style="display:none">
                                        <a data-target="area" style="padding-right: 0" class="nav-link" title="ακύρωση φίλτρου" href="#" id="area_clear_link">
                                            <i class="fa fa-ban gray-accesskeys-link-wcag-color " aria-hidden="true" style="padding: 0"> </i>
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle  gray-accesskeys-link-wcag-color" href="#" id="area_load" role="button" data-toggle="dropdown" aria-expanded="false">
                                            Δράση
                                        </a>
                                        <ul class="dropdown-menu" id="area-columns"  aria-labelledby="area_load" style="font-size: 1em">

                                        </ul>
                                    </li>

                                    <li id="etype_clear" class="nav-item clear-filter" style="display:none">
                                        <a data-target="etype" style="padding-right: 0" class="nav-link" title="ακύρωση φίλτρου" href="#" id="etype_clear_link">
                                            <i class="fa fa-ban gray-accesskeys-link-wcag-color " aria-hidden="true" style="padding: 0"> </i>
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle  gray-accesskeys-link-wcag-color" href="#" id="etype_load" role="button" data-toggle="dropdown" aria-expanded="false">
                                            Τύπος
                                        </a>
                                        <ul class="dropdown-menu" id="etype-columns"  aria-labelledby="area_load" style="font-size: 1em">

                                        </ul>
                                    </li>

                                    <li id="staff_clear" class="nav-item  clear-filter" style="display:none">
                                        <a data-target="staff" style="padding-right: 0" class="nav-link  gray-accesskeys-link-wcag-color" title="ακύρωση φίλτρου" href="#" id="staff_clear_link">
                                            <i class="fa fa-ban gray-accesskeys-link-wcag-color " aria-hidden="true" style="padding: 0"> </i>
                                        </a>
                                    </li>
                                    <a class="nav-link btn-xs btn-default" style="color: #4f5d73" title="άνοιγμα καταλόγου διδασκόντων" href="#" role="button" id="staff_load">
                                        Επιστημονικός Υπεύθυνος <span class="ml-1 fas fa-caret-down"></span>
                                    </a>
                                </th:block>
                            </th:block>
                        </ul>

                    <span class="form-inline my-2 my-lg-0 mr-2">
                           <input class="form-control form-control mr-sm-2" size="40" id="search-box" type="search" placeholder="Αναζήτηση με λέξεις" aria-label="Search" th:field="*{ft}">
                           <button class="btn btn-secondary btn-pill my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    </span>
                </div>
            </nav>

        </form>
    </div>
</div>