<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="">

<div th:fragment="a-sidebar" class="sidebar sidebar-show sidebar-dark" id="sidebar">
    <!-- Sidebar content here -->
    <div class="sidebar-brand d-lg-down-none">
        <div class="sidebar-brand-full" th:with="uid=#{institution.identity}">
            <a th:href="@{/}" class="float-left text-white"><h4><span class="fas fa-home"></span> UoA MURE</h4></a>
        </div>
        <span  class="sidebar-brand-minimized" th:with="uid=#{institution.identity}">
            <a th:href="@{/}">
                <span class="fas fa-home"></span>
            </a>
        </span>
    </div>
    <ul class="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin}">
                <i class="nav-icon fa fa-cog"></i> Κέντρο Ελέγχου
            </a>
        </li>
        <li class="nav-title"> ΠΕΡΙΕΧΟΜΕΝΟ</li>
        <li class="nav-item">
            <a class="nav-link"  th:href="@{/admin/search}">
                <i class="nav-icon fas fa-search"></i> Αναζήτηση
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"   th:href="@{/admin/lecture-editor}">
                <i class="nav-icon icon-lecture-lesson"></i> Νέα Διάλεξη
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"   th:href="@{/admin/event-editor}">
                <i class="nav-icon icon-lecture-lesson"></i> Νέο Πολυμέσο Εκδήλωσης
            </a>
        </li>
        <th:block sec:authorize="hasRole('ROLE_SA') || hasRole('ROLE_MANAGER') || hasRole('ROLE_STAFFMEMBER')">
            <li class="nav-title"> ΕΚΔΗΛΩΣΕΙΣ</li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/sevents}">
                    <i class="nav-icon far fa-calendar-alt"></i> Κατάλογος Εκδηλώσεων
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/sevent-editor}">
                    <i class="nav-icon icon-event"></i> Νέα Εκδήλωση
                </a>
            </li>
        </th:block>
    </ul>
    <button class="sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="sidebar-minimized"></button>
</div>