<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="">

<div th:fragment="a-sidebar"  class="c-sidebar c-sidebar-light c-sidebar-lg-show" id="sidebar" style="margin-top:50px">
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-title gray-link-wcag-color" style="text-transform: none">
            <br/>
            <div class="h5 text-wrap" style="color: #4f5d73">ΠΡΟΓΡΑΜΜΑΤΙΣΜΟΣ</div>
        </li>
        <li class="c-sidebar-nav-item">
            <a  class="c-sidebar-nav-link" th:href="@{/admin/scheduler/schedule}">
                <i class="fas fa-plus mr-1 font-weight-bolder"></i> Νέα Μετάδοση
            </a>
        </li>
        <li class="c-sidebar-nav-item mt-3">
            <a class="c-sidebar-nav-link" th:href="@{/admin/scheduler/timetable}">
                <i class="c-sidebar-nav-icon"><i class="icon-main-menu-scheduler pl-1" style="font-size: 1.3em"></i> </i> Διαχείριση Μεταδόσεων
            </a>
        </li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" th:href="@{/admin/scheduler/calendar}">
                <i class="c-sidebar-nav-icon fas fa-calendar-week"></i> Ημερολόγιο Μεταδόσεων
            </a>
        </li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" th:href="@{/admin/scheduler/daily}">
                <i class="c-sidebar-nav-icon fas fa-calendar-day"></i> Πρόγραμμα Ημέρας
            </a>
        </li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" th:href="@{/admin/scheduler/live}">
                <i class="c-sidebar-nav-icon" ><i class="icon-live-lecture p-0" style="font-size: 1.2em"></i> </i> Ζωντανές Μεταδόσεις!
            </a>
        </li>
    </ul>
    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>