<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="">

<div th:fragment="a-sidebar"class="c-sidebar c-sidebar-light c-sidebar-lg-show" id="sidebar" style="margin-top:50px">
    <ul class="c-sidebar-nav">
        <th:block sec:authorize="hasRole('ROLE_SA')">
                    <li class="c-sidebar-nav-title gray-link-wcag-color" style="text-transform: none">
                        <br/>
                        <div class="h5 text-wrap" style="color: #4f5d73">ΙΣΤΟΤΟΠΟΣ</div>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a th:if="${page == 'message'}" class="c-sidebar-nav-link" id="newMessageBt" href="#">
                            <i class="fas fa-plus mr-1 font-weight-bolder"></i> Νέο Μήνυμα
                        </a>
                    </li>
                    <li class="c-sidebar-nav-item mt-3">
                        <a class="c-sidebar-nav-link" th:href="@{/admin/system/messages}">
                            <i class="c-sidebar-nav-icon fas fa-user-clock"></i> Μηνύματα Χρηστών
                        </a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" target="_blank" href="http://localhost:5601">
                            <i class="c-sidebar-nav-icon fas fa-clipboard-list"></i> Αρχεία Καταγραφής <span class="fas fa-external-link-alt fa-sm"></span>
                        </a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#">
                            <i class="c-sidebar-nav-icon fas fa-chart-pie"></i> Στατιστικά (not ready!)
                        </a>
                    </li>
        </th:block>
    </ul>
    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>