<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="">

<div th:fragment="a-sidebar" class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <!-- Sidebar content here -->
    <div class="c-sidebar-brand d-lg-down-none text-dark" style="background-color: white">
        <div class="c-sidebar-brand-full" th:with="uid=#{institution.identity}">
            <i class="fas fa-photo-video fa-2x"> MU.RE</i> | uoa
        </div>
        <span  class="c-sidebar-brand-minimized" th:with="uid=#{institution.identity}">
            <span class="fas fa-home"></span>
        </span>
    </div>
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" th:href="@{/admin}">
                <i class="c-sidebar-nav-icon fa fa-cog"></i> Κέντρο Ελέγχου
            </a>
        </li>

        <th:block sec:authorize="hasRole('ROLE_MANAGER')">
            <li class="c-sidebar-nav-title">ΔΙΑΧΕΙΡΙΣΗ ΤΜΗΜΑΤΩΝ</li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" th:href="@{/admin/department/courses}">
                    <i class="c-sidebar-nav-icon fas  fa-book"></i> Μαθήματα
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" th:href="@{/admin/department/staff}">
                    <i class="c-sidebar-nav-icon fas fa-user-tag"></i> Προσωπικό
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" th:href="@{/admin/department/programs}">
                    <i class="c-sidebar-nav-icon fas fa-puzzle-piece"></i> Προγράμματα Σπουδών
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" th:href="@{/admin/department/classrooms}">
                    <i class="c-sidebar-nav-icon fas fa-map-marked"></i> Χώροι Διδασκαλίας
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" th:href="@{/admin/department/acalendar}">
                    <i class="c-sidebar-nav-icon fas fa-chart-pie"></i> Ακαδημαϊκό Ημερολόγιο
                </a>
            </li>
        </th:block>
    </ul>
    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>