body {
    height: auto;
}
.form-control  {
    color: #000000!important;
}

.link_hover { color: #005cbf!important; text-decoration: none }
.link_hover:hover { color: blue!important; text-decoration: none }

@media (max-width: 639px) {

    .date_info {
        text-align: center;
    }
    .date_info:before {
        content: "\A";
        white-space: pre;
    }
    .month {
        padding-top: 5px;
    }
    .month:after {
        content: "\A";
        white-space: pre;
    }
    .day_of_month {
        font-size: 1.2em;
        font-weight: 500;
    }
    .day_of_month:after {
        content: "\A";
        white-space: pre;
    }
    .course_info:after {
        content: "\A";
        white-space: pre;
    }
}
@media (min-width: 640px) {

    .day_of_month {

        font-weight: 500;
    }
    .date_info {
        display: flex;
        margin: 5px;
    }
    .course_info:after {
        content: " -";
        white-space: pre;
    }
}

.fa-arrow-circle-up {
    color: #005cbf!important
}

.nav-link {
    color: #4f5d73
}

.card {
    border: none!important;
}

b {
    font-weight: 500!important;
}
.alertify .ajs-header {
    background-color: #006A9B !important;
    color: white!important;
    font-size: 1em;
}
.highlight {
    background-color: #ececf6!important;
}
.form-error {
    font-size: 0.9em;
    color: red;
}
.search-box {
    border-radius: 25px!important;
    border: 2px solid #366097;
    padding: 20px;
    width: 400px;
    height: 15px;
}

div.childWrap {
    display: none;
}

.visible {
       visibility: visible !important;
}
.invisible {
    visibility: hidden !important;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.header-divider {
    height: 1px;
    border-bottom: 1px solid #0c0c0c;
    background-color: white;
}

.winter:before{
    content: "\f2dc";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
}
.spring:before{
    content: "\f6c4";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
}
.summer:before{
    content: "\f185";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
}
.intervening:before{
    content: "\f743";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
}

